  .footer {
    border-top: 0.1rem solid var(--color-foreground-20);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding-top: 13.7rem;
    padding-bottom: 5rem;
  }
  
  .footer:not(.color-background-1) {
    border-top: none;
  }
  
  @media screen and (max-width: 749px) {
    .footer .grid {
      display: block;
      margin-left: 0;
    }
  
    .footer-block.grid__item {
      padding: 0;
      margin: 4rem 0;
      width: 100%;
    }
  
    .footer-block.grid__item:first-child {
      margin-top: 0;
    }
  }
  
  .footer__content-top {
    padding-bottom: .4rem;
    padding-top: .4rem;
    display: block;
  }
  .footer__content-top .page-width {
    padding: 0 5rem;
  }
  
  @media screen and (min-width: 750px) {
    .footer__content-top {
      padding-top: .4rem;
      padding-bottom: .4rem;
    }
  
    .footer__content-top .grid {
      display: flex;
      align-items: center;
      margin-left: 0;
      row-gap: unset;
      margin-bottom: 0;
    }

  }
  
  .footer__content-bottom {
    border-top: 0;
    padding-top: 0;
    padding-bottom: 1rem;
  }
  
  .footer__content-bottom:only-child {
    border-top: 0;
  }
  
  .footer__content-bottom-wrapper {
    display: flex;
    width: 100%;
  }
  
  @media screen and (max-width: 749px) {
    .footer__content-bottom {
      flex-wrap: wrap;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      row-gap: 1.5rem;
    }
  
    .footer__content-bottom-wrapper {
      flex-wrap: wrap;
      row-gap: 1.5rem;
    }
  }
  
  .footer__localization:empty + .footer__column--info {
    align-items: center;
  }
  
  @media screen and (max-width: 749px) {
    .footer__localization:empty + .footer__column {
      padding-top: 1.5rem;
    }
  }
  .footer__column {
    width: 100%;
    align-items: flex-end;
  }
  
  .footer__column--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  @media screen and (min-width: 750px) {
    .footer__column--info {
      padding-left: 0;
      padding-right: 0;
      align-items: flex-end;
    }
  }
  
  .footer-block:only-child:last-child,
  .accordion:first-child + .footer-block:last-child {
    text-align: center;
    max-width: 76rem;
    margin: 0 auto;
  }
  
  .accordion:empty + .footer-block {
    margin-top: 0;
  }
  
  .footer .accordion {
    margin-top: 0;
  }
  
  .footer .small-hide + .accordion {
    border-top: none;
  }
  
  @media screen and (min-width: 750px) {
    .footer-block {
      display: block;
      margin-top: 0;
    }
  }
  
  .footer-block:empty {
    display: none;
  }
  
  .footer-block--newsletter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
  }
  
  .footer-block--newsletter:only-child {
    margin-top: 0;
  }
  
  .footer-block--newsletter > * {
    flex: 1 1 100%;
  }
  
  @media screen and (min-width: 750px) {
    .footer-block--newsletter {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  
  .footer-block__heading {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
  }

  .footer-block__newsletter .footer-block__heading {
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.6rem;
    text-transform: unset;
    margin-bottom: 2.5rem;
  }
  
  @media screen and (min-width: 990px) {
    .footer-block__heading {
      font-size: 1.8rem;
    }
  }
  
  .footer__list-social:empty,
  .footer-block--newsletter:empty {
    display: none;
  }
  
  .footer__list-social.list-social:only-child {
    justify-content: center;
  }
  
  .footer__list-social .list-social__item--placeholder:not(:only-child) {
    display: none;
  }
  
  .footer-block__newsletter {
    text-align: center;
  }
  
  @media screen and (max-width: 749px) {
    .footer-block__newsletter .newsletter-form__field-wrapper {
      width: 30rem;
    }
  }
  
  
  @media screen and (min-width: 750px) {

    .footer-block__newsletter:not(:only-child) .footer__newsletter {
      justify-content: flex-start;
      margin: 0;
    }
  }
  
  .footer-block__newsletter + .footer__list-social {
    margin-top: 5rem;
    height: fit-content;
    justify-content: flex-start;
  }
  .footer-block__newsletter + .footer__list-social .list-social__item {
    background: #fff;
    border-radius: 2.5rem;
    width: 44px;
    height: 44px;
    margin-right: 2.2rem;
    margin-bottom: 2rem;
  }
  .footer-block__newsletter + .footer__list-social .list-social__item a {
    color: var(--color-background);
  }
  
  @media screen and (max-width: 749px) {
    .footer__list-social.list-social {
      justify-content: center;
    }
  }
  
  @media screen and (min-width: 750px) {
    .footer-block__newsletter + .footer__list-social {
      margin-top: 1.8rem;
    }
  }
  
  @media screen and (min-width: 750px) {
    .footer__content-bottom {
      border-top-width: 0.1rem;
    }
  }
  
  .footer__localization {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 1rem;
  }
  
  .footer__localization:empty {
    display: none;
  }
  
  .localization-form {
    display: flex;
    flex-direction: column;
    flex: auto 1 0;
    padding: 1rem;
    margin: 0 auto;
  }
  
  .localization-form:only-child {
    display: inline-flex;
    flex-wrap: wrap;
    flex: initial;
    padding: 1rem 0;
  }
  
  .localization-form:only-child .button,
  .localization-form:only-child .localization-form__select {
    margin: 1rem 1rem 0.5rem;
    flex-grow: 1;
    width: auto;
  }
  
  .footer__localization h2 {
    margin: 1rem 1rem 0.5rem;
    color: var(--color-foreground-75);
  }
  
  @media screen and (min-width: 750px) {
    .footer__localization {
      padding: 0.4rem 0;
      justify-content: flex-start;
    }
  
    .localization-form {
      padding: 1rem 2rem 1rem 0;
    }
  
    .localization-form:first-of-type {
      padding-left: 0;
    }
  
    .localization-form:only-child {
      justify-content: start;
      width: auto;
      margin: 0 0 0 -1rem;
    }
  
    .localization-form:only-child .button,
    .localization-form:only-child .localization-form__select {
      margin: 1rem;
    }
  }
  
  @media screen and (max-width: 989px) {
    noscript .localization-form:only-child,
    .footer__localization noscript {
      width: 100%;
    }
  }
  
  .localization-form .button {
    padding: 1rem;
  }
  
  .localization-form__currency {
    display: inline-block;
  }
  
  @media screen and (max-width: 749px) {
    .localization-form .button {
      word-break: break-all;
    }
  }
  
  .localization-form__select {
    box-shadow: 0 0 0 0.1rem var(--color-foreground-55);
    position: relative;
    margin-bottom: 1.5rem;
    border: 0;
    padding-left: 1rem;
    text-align: left;
  }
  
  noscript .localization-form__select {
    padding-left: 0rem;
  }
  
  @media screen and (min-width: 750px) {
    noscript .localization-form__select {
      min-width: 20rem;
    }
  }
  
  .localization-form__select .icon-caret {
    position: absolute;
    content: '';
    height: 0.6rem;
    right: 1.5rem;
    top: calc(50% - 0.35rem);
  }
  
  .localization-selector.link {
    text-decoration: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: var(--color-foreground);
    width: 100%;
    padding-right: 4rem;
    padding-bottom: 1.5rem;
  }
  
  noscript .localization-selector.link {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
  }
  
  .disclosure .localization-form__select {
    padding-top: 1.5rem;
  }
  
  .localization-selector option {
    color: #000000;
  }
  
  .localization-selector + .disclosure__list {
    margin-left: 1rem;
    opacity: 1;
    animation: animateLocalization var(--duration-default) ease;
  }
  
  .footer__payment {
    margin-top: 1.5rem;
  }
  
  .footer__copyright {
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
  }
  
  @media screen and (min-width: 750px) {
    .footer__copyright {
      text-align: right;
    }
  }
  
  /* .footer__copyright a {
    font-size: 1.3rem;
    text-decoration: none;
    color: currentColor;
  }
  
  .footer__copyright a:hover {
    opacity: 0.75;
  } */
  
  @media screen and (min-width: 750px) {
    footer .accordion {
      display: none;
    }
  }
  
  @keyframes appear-down {
    0% {
      opacity: 0;
      margin-top: -1rem;
    }
    100% {
      opacity: 1;
      margin-top: 0;
    }
  }
  
  footer details[open] summary ~ * {
    animation: appear-down var(--duration-default) ease;
  }
  
  .footer .accordion .list-menu__item--link {
    justify-content: center;
    text-align: center;
  }
  
  .footer-block__details-content {
    margin-bottom: 0;
  }
  .footer-block__details-content.rte p {
    color: #fff;
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 100;
    line-height: 1.375;
  }
  .footer-block__details-content.rte a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-block__newsletter .field__label {
    left: 2rem;
  }
  
  .footer-block__details-content li:first-child .link {
    padding-top: 3rem;
  }
  
  @media screen and (min-width: 750px) {
    .footer-block__details-content {
      margin-bottom: 0;
    }
  
    .footer-block__details-content li:first-child .link {
      padding-top: 0;
    }
  
    .footer-block__details-content > p,
    .footer-block__details-content > li {
      padding: 0;
      line-height: normal;
    }
  
    .accordion:first-child + .footer-block:last-child li,
    .footer-block:only-child li {
      display: inline;
    }

  }
  
  .footer-block__details-content .list-menu__item--link,
  .copyright__content a {
    color: var(--color-foreground-75);
  }
  
  .footer-block__details-content .list-menu__item--active {
    transition: text-decoration-thickness var(--duration-short) ease;
    color: var(--color-foreground);
  }
  
  @media screen and (min-width: 750px) {
    .footer-block__details-content .list-menu__item--link:hover,
    .copyright__content a:hover {
      color: var(--color-foreground);
      text-decoration: underline;
      text-underline-offset: 0.3rem;
    }
  
    .footer-block__details-content .list-menu__item--active:hover {
      text-decoration-thickness: 0.2rem;
    }
  }
  
  @media screen and (max-width: 989px) {
    .footer-block__details-content .list-menu__item--link {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  
  @media screen and (min-width: 750px) {
    .footer-block__details-content .list-menu__item--link {
        display: inline-block;
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-weight: normal;
        padding-bottom: 0;
    }
  
    .footer-block__details-content > :first-child .list-menu__item--link {
      padding-top: 0;
      margin-top: 0;
    }
  }
  
  .copyright__content a {
    color: currentColor;
    text-decoration: none;
  }
  
  @keyframes animateLocalization {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
  
    100% {
      opacity: 1;
      transform: translateY(-1rem);
    }
  }
  
  .footer .disclosure__link {
    padding: 0.95rem 3.5rem 0.95rem 2rem;
    color: var(--color-foreground-75);
  }
  
  .footer .disclosure__link:hover {
    color: var(--color-foreground);
  }
  
  .footer .disclosure__link--active {
    text-decoration: underline;
  }

  .footer__blocks-wrapper .footer-block {
    width: 20%;
    flex-grow: unset;
  }

  .footer__blocks-wrapper .footer-block.footer-block--newsletter {
    width: 50%;
    margin-right: 10%;
  }
  
  @media screen and (max-width: 750px) {
    
    .footer {
      padding-top: 2.9rem;
    }
  
  }



  @media screen and (max-width: 550px) {
    
    .footer {
      padding-top: 4.7rem;
      padding-bottom: 0;
      border-radius: 0;
    }
    .footer-block__newsletter .footer-block__heading {
      font-size: 1.6rem;
      line-height: 1.9rem;
      margin-bottom: 1.5rem;
    }
    .footer__blocks-wrapper .footer-block.footer-block--newsletter {
      width: 100%;
      margin-right: 0;
    }
    .footer-block__newsletter .newsletter-form__field-wrapper {
      width: 100%;
    }
    .footer-block__newsletter+.footer__list-social {
      margin-top: 2.5rem;
    }
    .footer-block__newsletter+.footer__list-social .list-social__item {
      width: 35px;
      height: 35px;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
    .footer-block__newsletter+.footer__list-social .list-social__link {
      padding: .9rem;
    }
    .footer__blocks-wrapper .footer-block {
      width: 100%;
      text-align: center;
    }
    .footer-block__details-content li .link {
      justify-content: center;
      font-size: 1.3rem;
      line-height: 1.6rem;
    }
    .footer-block__details-content li:first-child .link {
      padding-top: .5rem;
    }
    .footer-block__heading {
      font-size: 1.3rem;
      line-height: 1.6rem;
      margin-bottom: 0;
    }

  }
  