.collection-list-wrapper.bc-br-bt {
  max-width: 100%;
  padding: 0;
}
.collection-list-wrapper.bc-br-bt .title-wrapper-with-link {
  margin: 0;
  justify-content: center;
  padding: 30px 0;
  border-bottom: 2px solid #000;
}

.bc-br-bt .card--light-border,
.bc-br-bt .card--light-border:hover {
  border: 0;
}

.bc-br-bt .card--media .card__text-spacing {
  border-top: 2px solid #000;
}

.bc-br-bt .collection-list__item .card {
  border-bottom: 0;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.bc-br-bt .collection-list__item:first-child .card {
  border-left: 0;
}
.bc-br-bt .collection-list__item:last-child .card {
  border-right: 0;
}

@media screen and (max-width: 749px) {
  .collage-section + .collection-list-section .no-heading.no-mobile-link {
    margin-top: -7rem;
  }
  .collage-section + .collection-list-section .no-heading:not(.no-mobile-link) {
    margin-top: -1rem;
  }
}

@media screen and (min-width: 749px) {
  .collage-section + .collection-list-section .no-heading {
    margin-top: -4rem;
  }
}

.collection-list-title {
  margin: 0;
}

@media screen and (max-width: 749px) {
  .collection-list-wrapper.page-width {
    padding: 0;
  }

  .collection-list:not(.slider) {
    padding-left: 0;
    padding-right: 0;
  }

  .collection-list-section .collection-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 749px) {
  .collection-list-wrapper:not(.no-heading) .title-wrapper-with-link {
    margin-top: -1rem;
  }
}

@media screen and (min-width: 750px) {
  .collection-list-wrapper.no-heading {
    margin-top: 6rem;
  }
}

.collection-list__item:only-child {
  max-width: 100%;
  width: 100%;
}

.collection-list__item:only-child .media {
  height: 35rem;
}

@media screen and (max-width: 749px) {
  .collection-list .collection-list__item {
    width: calc(100% - 3rem);
  }

  .slider.collection-list--1-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider.collection-list--1-items,
  .slider.collection-list--2-items,
  .slider.collection-list--3-items,
  .slider.collection-list--4-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection-list__item:only-child > *:not(.card--media) {
    height: 320px;
  }

  .collection-list__item:only-child .media {
    height: 47rem;
  }

  .collection-list__item a:hover {
    box-shadow: none;
  }

  .collection-list.grid--3-col-tablet .grid__item {
    max-width: 33.33%;
  }

  .collection-list--4-items .grid__item,
  .collection-list--7-items .grid__item:nth-child(n + 4),
  .collection-list--10-items .grid__item:nth-child(n + 7) {
    width: 50%;
  }
}

@media screen and (max-width: 989px) {
  .collection-list.slider .collection-list__item {
    max-width: 100%;
  }
}

.collection-list__item .card__text,
.collection-list__item .card-colored {
  position: relative;
}

.bc-collection-list {
  max-width: 100%;
  padding: 0;
}

.collection-list {
  margin-top: 0;
  margin-bottom: 0;
}

.collection-list__item {
  padding: 0;
}
.collection-list__item .card {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}