<link rel="stylesheet" href="/assets/component-article-card.css">
<link rel="stylesheet" href="/assets/section-main-blog.css">


<%# paginate blog.articles by 18 %>

<div class="main-blog page-width">
  <h1 class="title--primary"><%= blog.title %><br/>
    <a target="_blank" class="rss-feed font--accent" style="font-size: 12px;display: inherit;font-weight: 400;" href="<%= shop.url %><%= blog.url %>.atom">RSS</a>
  </h1>

  <div class="blog-articles">
    <% blog.articles.forEach((article,index)=>{ %>
      <div class="blog-articles__article article">
        <%- include('../snippets/article-card', {article: article, show_image: section.settings.show_image}) %>
      </div>
    <% }) %>
  </div>

  <%# if paginate.pages > 1 %>
    <%# render 'pagination', paginate: paginate %>
  <%# endif %>
</div>
<%# endpaginate %>