<section id="shopify-section-header">
  <%- include('../snippets/header-3') %>
</section>
<div id="shopify-section-cart-template" class="shopify-section">
  <% if(settings.cart_style === 'style-4'){ %>
    <%- include('../snippets/cart-notification-4', {active: false}) %>      
  <% } else if(settings.cart_style === 'style-2', {active: false}){ %>
    <%- include('../snippets/cart-notification-2', {active: false, cart_layout: settings.cart_layout,enable_dynamic_pay: settings.enable_dynamic_pay}) %>
  <% } else if(settings.cart_style === 'style-1'){ %>
    <%- include('../snippets/cart-notification', {active: false, checkoutbtn_position: settings.checkoutbtn_position,enable_dynamic_pay: settings.enable_dynamic_pay}) %>
  <% } %>
</div>