<section id="shopify-section-header">
  <% if(section.settings.style === 'style-1'){ %>
    <%- include('../snippets/header-1') %>
  <% } else { %>
    <%- include('../snippets/header-2') %>
  <% } %>
</section>