<div class="py__settins-item">
    <div class="py__settings-item-header">
        <label>Brand Name or Logo</label>
    </div>
    <div class="py__comp-brand">
        <input type="text" name="settings_theme_name" value="<%= name %>"/>
        <label class="py__comp-logo" for="pylogo">
            <input type="file" id="pylogo" name="logo"/>
            <%- include('../icons', {type: 'upload'}) %>
            <span>
                Upload Logo
            </span>
        </label>
    </div>
</div>