<div class="py__login">
    <div class="py__login-wrapper">
        <form action="/login" method="post" class="py__login-form">
            <div class="py__login-header">
                <h2 class="py-title">make</h2>
                <div class="py__login-error-wrap"></div>
            </div>
            <div class="py__login-email-and-password-wrap">
                <div class="py__login-email-wrap">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" placeholder="email@gmail.com">
                </div>  
                <div class="py__login-password-wrap">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter password">
                </div>  
            </div>
            <div class="py__login-sumit-wrap">
                <button type="submit" class="py__button py__button-blue py__button-login">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>