<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenAi</title>
    <link rel="stylesheet" href="/stylesheets/openai.css">
</head>
<body>
    <div class="py__openai-container">
        <div class="code-block">
            <pre>

// Function example
function addTwoNumbers(num1, num2) {
  return num1 + num2;
}

// Call the function
let result = addTwoNumbers(2, 3);

console.log(result); // Output: 5</pre>
        </div>
        <iframe class="py__openai-res"></iframe>
        <div class="py__openai-sidebar"></div>
    </div>
    <div class="py__openai-form-container">
        <form action="/openai" method="post" class="py__openai-form">
            <textarea placeholder="Enter your message here..." name="openai-req"></textarea>
            <input type="text" placeholder="Image message..." name="image"/>
            <input type="submit" class="btn" value="Submit">
        </form>
    </div>
    <div class="loading-popup">
        <div class="loading-popup-inner">
            <div class="loading-popup-icon">
                <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="50" cy="50" r="45" fill="none" stroke="#0099ff" stroke-width="10" stroke-dasharray="62.83185307179586 62.83185307179586" stroke-dashoffset="0" transform="rotate(90.5 50 50)">
                        <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>
                    </circle>
                </svg>
            </div>
            <div class="loading-popup-text">
                Please wait while we process your request...
            </div>
        </div>
    </div>
    <script src="/javascripts/make.js"></script>
</body>
</html>