<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenAi</title>
</head>
<body>
    <div class="py__openai-res"></div>
    <div class="py__openai-req-wrapper">
        <textarea name="openai-req">
    
        </textarea>
        <a href="#" class="py__openai-req-btn">
            SUBMIT
        </a>
    </div>
    <script src="/javascripts/make.js"></script>
</body>
</html>