  .newsletter-form__subtitle {
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #FFFFFF;
    margin: 0 0 2.5rem 0;
  }
  .newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
  }
  
  @media screen and (min-width: 750px) {
    .newsletter-form {
      flex-direction: row;
      align-items: flex-start;
      margin: 0 auto;
    }
  }
  
  .newsletter-form__field-wrapper {
    width: 100%;
  }
  
  .newsletter-form__message {
    justify-content: center;
    margin-bottom: 0;
  }
  
  .newsletter-form__message--success {
    margin-top: 2rem;
  }
  
  @media screen and (min-width: 750px) {
    .newsletter-form__message {
      justify-content: flex-start;
    }
  
    .newsletter-form__message--success {
      position: absolute;
      left: 0;
      bottom: -65%;
    }
  }
  
  .newsletter-form__button {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    background: #fff;
    color: #422626;
    min-width: 171px;
    margin-left: 1rem;
  }
  
  @media screen and (max-width: 989px) {
    .newsletter-form__button {
      width: 100%;
      margin: 1.4rem 0 0 0;
    }
  }
  
  @media  screen and (max-width: 550px) {
    
    .newsletter-form__subtitle {
      font-size: 1.3rem;
      line-height: 1.6rem;
      margin-bottom: 1.5rem;
    }
    .newsletter-form__button {
      margin-top: 1.2rem;
    }

  }