#ModalquickView{
  display: block;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -4;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background: rgba(0,0,0,.4);
  opacity: 0;
}
#ModalquickView[open] {
    opacity: 1;
    z-index: 10;
}
.modal-dialog {
  max-width: 480px;
  margin: auto;
  width: 100%;
  position: fixed;  
  background: #fff;
  height: 100%;
  overflow: auto;
  right: -480px;
  transition: all 0.4s;
}
#ModalquickView[open] .modal-dialog{
  right: 0px;
}
.modal-header{
  position: relative;
  border-bottom: 1px solid rgba(34, 34, 34, .15);
}
#ModalClose-quickView{
  padding: 5px;
  height: 30px;
  width: 30px;
  border: none;
  background: white;
  cursor: pointer;
  position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.modal-header button svg{
  width: 15px;
}
.product-modal-quickview form .grid{
  margin-left:0px;
}
.product-modal-quickview .product .product__info-wrapper,
.product-modal-quickview .product .product__media-wrapper{
  width: 100%;
    max-width: 100%;
}
.product-modal-quickview .product .product__media-wrapper{
  display: grid;
  grid-template-columns: 12.563rem auto;
  column-gap: var(--space-11);
}
.product-modal-quickview .product .product__media-wrapper .product__media-item{
  max-width:100%;
  padding:0px;
}
.product-modal-quickview .product-form__input input[type='radio'] + label {
    background: var(--py-bg-color-light);
    color: var(--py-color-dark);
    border: 1px solid;
    border-color: var(--py-color-dark) !important;
    font-size: 16px;
}
.product-modal-quickview .product-form__input input[type='radio'] + label.bc_color_label{
  border-color: transparent !important;
  border-radius: 50%;
  padding: 3px;
}
.product-modal-quickview .product-form__input input[type='radio']:checked + label.bc_color_label{
  border-color: black !important;
  background-color:var(--py-bg-color-light);
}
.product-modal-quickview .product-form__input input[type='radio'] + label.bc_color_label span{
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 0px;
}
hr{
  margin: 20px auto;
  height: 1.5px;
  opacity: 0.3;
}
.product-modal-quickview .product-form__submit{
  max-width: 100%;
}
