.shopify-section-header-hidden {
  transform: translateY(0%);
}
.coll-filters {
  position: sticky;
  width: 100%;
  z-index: 4;  
  display:block;
  top:0px !important;
}
.coll-filters__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom:1px solid;
}
.coll-filter-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
}
.coll-filter-overlay[aria-hidden=false] {
    visibility: visible;    
}
.btn-unstyle {
  padding: 0;
  background: 0 0;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.coll-filters__select-sort-hidden {
  display: none;
  overflow: hidden;
}

.coll-filters__btn-open-drawer {
  height: 55px;
  width: 159px;
  text-transform: uppercase;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  font-size: 1.2rem;  
}
.coll-filter-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  z-index: 20;
  transition: transform .5s ease, visibility .5s ease;  
  touch-action: manipulation;
  border-top: 1px solid #cfcfcf;
  border-left: 1px solid #cfcfcf;
  box-shadow: 2px 0 10px rgb(54 54 54 / 20%), -2px 0 10px rgb(54 54 54 / 20%);
  transform: translateX(100%);
}
.coll-filter-drawer[aria-hidden="false"] {
  transform: translateX(0);
}

.coll-filter-drawer__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  padding: 0 30px;
  border-bottom: 1px solid ;
}

.coll-filter-drawer__form {
  padding: 20px;
  height: auto !important;
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  z-index:1;
  flex-wrap: wrap;
}
.filter-option-wrapper{
  position: relative;
  padding: 0 1.8rem;
}
.coll-filter-drawer__item-header {
  line-height:1.6;
  display:flex;
  align-items:center;
  cursor:pointer;
}
.coll-filter-drawer__item-header>svg {
    width: 8px;
    height: 4px;   
    margin-left:1.8rem;
}
.coll-filter-drawer__item-heading {
  text-transform: uppercase;
  font-weight: 600;
  margin-right:6px;
}
.filter-group-display {  
  position: absolute;
  top: 3rem;
  left: 50%;
  z-index: 4;
  padding: 1.8rem;
  display:none;
  flex-direction: column;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-shadow: 0 2px 2px rgb(0 0 0 / 4%), 0 4px 8px rgb(0 0 0 / 8%);
  box-shadow: 0 2px 2px rgb(0 0 0 / 4%), 0 4px 8px rgb(0 0 0 / 8%);
  border-radius: 1px;
  width: 29rem;   
}
.filter-option-wrapper.open .filter-group-display {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
}
.filter-group-display__list {
  display: flex;
  flex-wrap: wrap;
  margin: -6px -8px;
  padding: 0;
  list-style-type: none;
}
.filter-group-display__list-item {
  margin: 6px 8px 6px 8px;
}
.filter-group-display__list-item label {
  display: inline-block;
  border: 1px solid ;
  padding: 3px 8px;
  text-align: center;
  cursor: pointer;
}
.filter-group-display__list-item.filter-group-display__list-item-color label {
  position: relative;
  width: 33px;
  height: 33px;  
}
.filter-group-display__list-item.filter-group-display__list-item-color label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 31px;
  height: 31px;
  border: 2px solid ;
}
.filter-group-display__list-item input {
  opacity: 0;
  display: none;
}
.filter-group-display__price-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-group-display__price-range-item {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
  border: 1px solid ;
  font-size: 14px;
} 
.filter-group-display__price-range-item>input {
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
  min-width: 0;
  width: 100%;
  background: 0 0;
  border: none;
  text-align: end;
}
.filter-group-display__price-range-item>input[type="number"]:focus,
.filter-group-display__price-range-item>input[type="number"]:focus-visible {
  outline: none;
  outline-offset: 0;
  box-shadow: none;
}
.filter-group-display__price-range-item>input::-webkit-outer-spin-button,
.filter-group-display__price-range-item>input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.filter-price__space {
  margin: 0 15px;
}   
.option-list,.filter-options-mobile .filter-option-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.option-list li,.filter-options-mobile .filter-option-list li{
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  cursor:pointer;
}
.option-list li>svg{
  margin-left:10px;
  display:none;
}
.option-list li.selected>svg{
  display:block;
}
.filter-group-display .option-heading,.filter-options-mobile .filter-option-heading{
  padding-bottom:1rem;
  display:flex;
  justify-content:space-between;
}
.filter-options .reset_filter{
  margin-right: 8px;
  line-height: 1;
}
.filter-options .coll-filter-drawer__item-heading,
.filter-options.non-selected .reset_filter{
  display:none;
}
.filter-options.non-selected .coll-filter-drawer__item-heading,
.filter-options .reset_filter{
  display:block;
  cursor:pointer;
}
.coll-filter-mobile{
  display: none;
  width: 100%;
  flex-wrap: wrap;
  gap: 1px;
  background-color: var(--py-btn-bg-color-avarge);
  position:relative;
  border-top: 1px solid var(--py-btn-bg-color-avarge);
}
.filter-triger,.sort-triger{
  width:calc(50% - 0.5px);  
  padding: 8px;
  text-align: center;
}
.filter-options-mobile{
  top:0;
  left:0;
  width:100%;
  position: absolute;
  z-index: 2;
  padding: 1.6rem;
  display: none;
  flex-direction: column;
  
  -webkit-box-shadow: 0 2px 2px rgb(0 0 0 / 4%), 0 4px 8px rgb(0 0 0 / 8%);
  box-shadow: 0 2px 2px rgb(0 0 0 / 4%), 0 4px 8px rgb(0 0 0 / 8%);
  border-radius: 1px;
}
.coll-filter-mobile.open .filter-options-mobile{
  display:flex;
}
.filter-options-mobile .filter-option-list li{
  justify-content: space-between;
}
.go-back-option .mobile-only,.close-draw{
  display:none;
}
@media(max-width:768px){
  .go-back-option .mobile-only,.close-draw{
    display: initial;
  }
  .coll-filter-mobile{
    display: flex;
  }
  .coll-filter-drawer__form{
    padding:0px;
  }
  .coll-filter-drawer__item-header{
    display:none;
  }
  .filter-option-wrapper{
    width:100%;
  }
  .filter-group-display{
    width: 100%;
    top: 1px;
    left: 0;
    transform: none;
  }
}