.cart-notification-wrapper {
  max-width: 100%;
  overflow: hidden;
}

.cart-notification-wrapper .cart-notification {
  display: block;
}

.cart-notification {  
  position: fixed;
  transform: translateX(100%);
  visibility: hidden;
  z-index: 105;
  right: 0;
  top: 0;
  height: 100vh;
  width: 450px;
  max-width: 100%;
  padding: 32px 32px 24px 32px;
  color: var(--py-cart-color);
}

.cart-notification p,
.cart-notification span,
.cart-notification h2,
.cart-notification label,
.cart-notification h3,
.cart-notification h6 {
  color: var(--py-cart-color);
}

.cart-notification.animate {
  transition: transform var(--duration-short) ease,
  visibility 0s var(--duration-short) ease;
}

.cart-notification.active {
  transform: translateX(0);
  transition: transform var(--duration-default) ease, visibility 0s;
  visibility: visible;
}

.cart-notification__header {  
  position: relative;
  padding-bottom:20px;
}

.cart-notification__header .modal__close-button {
  position: absolute;
  top: -10px;
  right: 0;
}

.cart-notification__heading {
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.5px;
  margin: 0 0 25px 0;
}

.cart-notification__close {
  margin-top: -2rem;
  margin-right: -3rem;
}

.cart-notification__links {
  text-align: left;
}

.cart-notification__links> label:first-of-type {
  margin-top: 0;
}

.cart-notification__links .button-label {
  cursor: pointer;
  text-decoration: underline;
  margin-top: 14px;
  padding: 0;
  text-transform: uppercase;
  font-size: 12px;
}

.cart-notification-product {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  height: calc(100vh - 278px);
  overflow: auto;
  margin-bottom: 1.3rem;
  margin-top: 1.3rem;
}
.cart-notification-wrapper__shipping .cart-notification-product {
  height: calc(100vh - 600px);
}

.bc-cart__item {
  display: flex;
  width: 100%;
  margin-bottom: 13px;
  padding-bottom: 13px;
}

.bc-cart__item:last-of-type {
  margin-bottom: 0;
}

.bc-cart__image-img {
  width: 55px;
  object-fit: cover;
  object-position: center;
  vertical-align: bottom;
}

.bc-cart__info-wrapper {
  padding-left: 8px;
  position: relative;
  flex: 1 0 0;
}

.bc-cart__info-wrapper a {
  display: inline-block;
}

.bc-cart__title {
  line-height: 1.4;
  margin: 0 0 5px 0;
  text-transform: uppercase;
}

.bc-cart__variant-title {
  line-height: 1.3;
  margin: 0;
}

.bc-cart__price-and-properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bc-cart__price-wrapper {
  width:100%;
  margin: 3px 0;  
  line-height: 1.5;
}

.bc-cart__price-sale {
  text-decoration: line-through;
  margin-right: 5px;
  font-style: italic;
}

.bc-cart__price-wrapper ul {
  font-size: 10px;
  font-style: italic;
  color: red;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bc-cart__properties-wrapper {
  padding-left: 0;    
  font-weight: 400;
  width: 100%;
  text-align: left;    
}

.bc-cart__qty-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: 0;
  padding: 0;
  
}

.bc-cart__qty-wrapper.bc-right {
  right: 0;
  padding: 0 7px;
}

.bc-cart__qty-minus,
.bc-cart__qty-plus {
  padding: 0 5px;
  cursor: pointer;
}

.bc-cart__remove {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 0;
  cursor: pointer;
  transition: color var(--duration-default) ease,visibility 0s;
}

.bc-cart__remove svg {
  width: 20px;
  pointer-events: none;
}

.bc-cart__not-products {
  text-align: center;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 100;
}

.bc-cart__not-products a {
  text-decoration: underline;
  font-weight: 400;
}

.bc-cart__subtotal-wrapper,
.bc-cart__total-wrapper,
.bc-cart__shipping-wrapper{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
}
.bc-cart__subtotal-label,
.bc-cart__total-label,
.bc-cart__shipping-label{
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: normal;  
}
.bc-cart__subtotal-value,
.bc-cart__total-value,
.bc-cart__shipping-value{
  letter-spacing: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.bc-cart__subtotal-value {
  text-decoration: line-through;
}
.bc-cart__total-label{
 font-weight:700; 
}
.bc-cart__total-value {
  display: flex;
  flex-wrap: nowrap;
  font-size:16px;
  font-weight:700;
}
.bc-cart__total-value ul {
  margin: 0;
  padding: 0 5px 0 0;
  list-style-type: none;
  font-style: italic;
  color: red;
  font-size: 10px;
}

.bc-checkbox {
  display: flex;
  align-items: center;
  line-height: 16px;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  margin: 14px 0 0 0;
  text-transform: uppercase;
  cursor: pointer;
}
.bc-checkbox input[type=checkbox] {
  position: absolute;
  opacity: 1;
  width: 1.6rem;
  height: 1.6rem;
  top: 0;
  left: 0;
  z-index: -1;
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
.bc-checkbox>svg {
  margin-right: 1.2rem;
}
.bc-checkbox .icon-checkmark {
  visibility: hidden;
  position: absolute;
  left: 3px;
  top: 3px;
}
.bc-checkbox>input[type=checkbox]:checked~.icon-checkmark {
  visibility: visible;
}

.bc-free-shipping-wrapper {
  position: relative;
  margin-bottom: 13px;
  text-align: center;
}
.bc-free-shipping-wrapper p {
  margin: 0;
}
.bc-free-shipping-wrapper__text,
.bc-free-shipping-wrapper__success-text {
  display: none;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.bc-free-shipping-wrapper__text strong {
  margin-right: 5px;
}
.bc-free-shipping-wrapper__text.active,
.bc-free-shipping-wrapper__success-text.active {
  display: block;
}
.bc-free-shipping-bar {
  position: relative;
  height: 10px;
  border-radius: 5px;
  background: #E9E9E9;
  overflow: hidden;
}
.bc-free-shipping-bar__progress {
  position: absolute;
  width: 0;
  height: 100%;
  background: #866A59;
  -wbkit-transition: width var(--duration-long) ease;
  -moz-transition: width var(--duration-long) ease;
  -ms-transition: width var(--duration-long) ease;
  transition: width var(--duration-long) ease;
}
.bc-free-shipping-bar__progress:empty {
  display: block;
}
.cart-notification .bc-cart__info-wrapper>a{
  padding-right:22px;
}
.cart-notification-product{
  padding-right:8px; 
}
.cart-notification-product-label{
  font-size:13px;
  font-weight:700;
}
.cart-notification.active+.cart-notification-overaly{
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000;
  opacity: .6;
  top: 0;
  left: 0;
  z-index: 104;
  display: block;
}