<div class="<% if(section.settings.include_margins){ %>page-width<% } %>">
  <% section?.block_order?.forEach((orderItem, index) => {){ %><% let block = section?.blocks[orderItem]){ %>
    <% render block){ %>
  <% }) %>
</div>

<% schema){ %>
{
  "name": "t:sectionst.apps.name",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": false,
      "label": "t:sectionst.apps.settings.include_margins.label"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sectionst.apps.presets.name"
    }
  ]
}
<% endschema){ %>
