<div class="card-wrapper">
  <a class="full-width-link"><span class="visually-hidden">Product Title</span></a>

  <div class="card card--text-only card--soft card--product">
    <h2 class="card__text card__text-spacing h2">Product Title</h2>
  </div>

  <div class="card-information">
    <div class="card-information__wrapper">
      <span class="visually-hidden">Vendor</span>
      <div class="caption-with-letter-spacing light">Vendor</div>
      <%- include('./price') %>
    </div>
  </div>
</div>
