<link rel="stylesheet" href="/assets/section-accordion-with-product.css" media="print" onload="this.media='all'">
<link rel="preload" href="/assets/component-price-style-1.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

<div class="bc-accordion-with-product bc-{{settings.section_style}}-bt">
  <div class="page-width page-width-{{settings.section_style}}">
    <div class="bc-accordion-with-product__wrapper" {{#if (eq sectionSettings.bg_color  'blank')}}style="background: {{ sectionSettings.bg_color }};"{{/if}}>      
        <accordion-component class="bc-accordion-with-product__accordion-wrapper">
          <ul class="list-unstyled bc-accordion-with-product__accordion-list" role="list" {{#if (eq sectionSettings.color 'blank')}}style="color: {{ sectionSettings.color }};"{{/if}}>
            <li class="bc-accordion-with-product__accordion-item">
                <div class="bc-accordion-with-product__listener">
                    <div class="bc-accordion-with-product__image">&nbsp;</div>
                    <h2 class="bc-accordion-with-product__text">
                        Infused with Zinc
                    </h2>
                    <span class="bc-accordion-with-product__icon">+</span>
                </div>
                <div class="bc-accordion-with-product__content">
                    Imagine underwear that are both good for your body AND make your butt look great. Say hello to our Mineral Cheeky!
                </div>
            </li>
            <li class="bc-accordion-with-product__accordion-item">
                <div class="bc-accordion-with-product__listener">
                    <div class="bc-accordion-with-product__image">&nbsp;</div>
                    <h2 class="bc-accordion-with-product__text">
                        Infused with Zinc
                    </h2>
                    <span class="bc-accordion-with-product__icon">+</span>
                </div>
                <div class="bc-accordion-with-product__content">
                    <p>Imagine underwear that are both good for your body AND make your butt look great. Say hello to our Mineral Cheeky!</p>
                </div>
            </li>
            <li class="bc-accordion-with-product__accordion-item">
                <div class="bc-accordion-with-product__listener">
                    <div class="bc-accordion-with-product__image">&nbsp;</div>
                    <h2 class="bc-accordion-with-product__text">
                        Infused with Zinc
                    </h2>
                    <span class="bc-accordion-with-product__icon">+</span>
                </div>
                <div class="bc-accordion-with-product__content">
                    <p>Imagine underwear that are both good for your body AND make your butt look great. Say hello to our Mineral Cheeky!</p>
                </div>
            </li>
            <li class="bc-accordion-with-product__accordion-item">
                <div class="bc-accordion-with-product__listener">
                    <div class="bc-accordion-with-product__image">&nbsp;</div>
                    <h2 class="bc-accordion-with-product__text">
                        Infused with Zinc
                    </h2>
                    <span class="bc-accordion-with-product__icon">+</span>
                </div>
                <div class="bc-accordion-with-product__content">
                    <p>Imagine underwear that are both good for your body AND make your butt look great. Say hello to our Mineral Cheeky!</p>
                </div>
            </li>
          </ul>
        </accordion-component>      
      <div class="bc-accordion-with-product__product-wrapper">
        <div class="media " style="padding-bottom: 66.625%;">
            <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/products/pexels-george-dolgikh-giftpunditscom-1666065_165x.jpg?v=1639587763 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/pexels-george-dolgikh-giftpunditscom-1666065_360x.jpg?v=1639587763 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/pexels-george-dolgikh-giftpunditscom-1666065_535x.jpg?v=1639587763 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/pexels-george-dolgikh-giftpunditscom-1666065_720x.jpg?v=1639587763 720w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/products/pexels-george-dolgikh-giftpunditscom-1666065_535x.jpg?v=1639587763" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="Free GIft" loading="lazy" width="800" height="533" class="">
        </div>
        <h2 class="bc-accordion-with-product__product-title">
            Free GIft
        </h2>
        <product-form class="product-form">
            <form method="post" action="/cart/add" accept-charset="UTF-8" class="form" enctype="multipart/form-data" novalidate="novalidate" data-type="add-to-cart-form"><input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓"><input type="hidden" name="id" value="40895804440737">
                <div class="product-form__buttons">
                    <button type="submit" name="add" class="product-form__submit button button--full-width button--primary">
                        <span>Add to cart -</span>
                        <div class="no-js-hidden bc-product-price-wrapper" id="price-template--15300017979553__16397073358bf4166a">

                            <div id="productPrice" class=" price price--large price--on-sale ">
                                <dl>
                                    <div class="price__regular">
                                        <dt>
                                            <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                        </dt>
                                        <dd class="price__last">
                                            <span class="price-item price-item--regular">
                                                $0.00
                                            </span>
                                        </dd>
                                    </div>
                                    <div class="price__sale">
                                        <dt class="price__compare">
                                            <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                        </dt>
                                        <dd class="price__compare">
                                            <s class="price-item price-item--regular" 30="" dd="0" aa="">

                                                $0.00

                                            </s>
                                        </dd>
                                        <dt>
                                            <span class="visually-hidden visually-hidden--inline">Sale price</span>
                                        </dt>
                                        <dd class="price__last">
                                            <span class="price-item price-item--sale">$0.00
                                            </span>
                                        </dd>
                                        <dd class="price-item price-item--discount">
                                            (-$0.00)
                                        </dd>

                                    </div>
                                    <small class="unit-price caption hidden">
                                        <dt class="visually-hidden">Unit price</dt>
                                        <dd class="price__last">
                                            <span></span>
                                            <span aria-hidden="true">/</span>
                                            <span class="visually-hidden">&nbsp;per&nbsp;</span>
                                            <span>
                                            </span>
                                        </dd>
                                    </small>
                                </dl>
                            </div>
                        </div>
                    </button>
                </div>
            </form>
        </product-form>
      </div>
    </div>
  </div>
</div>

<script>

  class AccordionComponent extends HTMLElement {

      constructor(){
          super();
          this.button = this.querySelectorAll('.bc-accordion-with-product__listener');
          this.button.length && this.button.forEach((item) => {
              item.addEventListener("click", this.openOrClose.bind(this));
          });
      }

      openOrClose(e){
          let item = e.target.closest('.bc-accordion-with-product__accordion-item');
		  let content = item.querySelector('.bc-accordion-with-product__content');
		  if(content.classList.contains('open')){
		  	item.querySelector('.bc-accordion-with-product__icon').textContent = "+";
            content.classList.remove('open');
		  } else {
            item.querySelector('.bc-accordion-with-product__icon').textContent = "-";
            content.classList.add('open');
		  }
      }

  }

  customElements.define("accordion-component", AccordionComponent);

</script>