<link rel="stylesheet" href="/assets/collection-see-style-1.css" media="print" onload="this.media='all'">

<div class="collection-see bc-<%=settings.section_style%>-bt">
  <div class="page-width page-width-<%=settings.section_style%>">
    <div class="collection-see-heading">
        <h2 class="collection-see__title collection-see__title-template--15300017979553__1639708015e21cb42d">
            <%= section.settings.title %>
        </h2>
    </div>
    <ul class="collection-see-list bc-scroll-hide">
        <li class="collection-see-list__item">
            <div class="collection-see_image__wrap">
                <div class="media " style="padding-bottom: 121.5%;">
                    <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_165x.jpg?v=1639584819 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_360x.jpg?v=1639584819 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_535x.jpg?v=1639584819 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_720x.jpg?v=1639584819 720w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_535x.jpg?v=1639584819" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="800" height="972" class="">
                </div>
            </div>
            <h3 class="collection-see__name">Hello</h3>
        </li>
        <li class="collection-see-list__item">
            <div class="collection-see_image__wrap">
                <div class="media " style="padding-bottom: 121.5%;">
                    <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_165x.jpg?v=1639584819 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_360x.jpg?v=1639584819 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_535x.jpg?v=1639584819 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_720x.jpg?v=1639584819 720w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_535x.jpg?v=1639584819" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="800" height="972" class="">
                </div>
            </div>
            <h3 class="collection-see__name">Hello</h3>
        </li>
        <li class="collection-see-list__item">
            <div class="collection-see_image__wrap">
                <div class="media " style="padding-bottom: 121.5%;">
                    <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_165x.jpg?v=1639584819 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_360x.jpg?v=1639584819 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_535x.jpg?v=1639584819 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_720x.jpg?v=1639584819 720w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_535x.jpg?v=1639584819" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="800" height="972" class="">
                </div>
            </div>
            <h3 class="collection-see__name">Hello</h3>
        </li>
        <li class="collection-see-list__item">
            <div class="collection-see_image__wrap">
                <div class="media " style="padding-bottom: 121.5%;">
                    <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_165x.jpg?v=1639584819 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_360x.jpg?v=1639584819 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_535x.jpg?v=1639584819 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_720x.jpg?v=1639584819 720w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_535x.jpg?v=1639584819" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="800" height="972" class="">
                </div>
            </div>
            <h3 class="collection-see__name">Hello</h3>
        </li>
        <li class="collection-see-list__item">
            <div class="collection-see_image__wrap">
                <div class="media " style="padding-bottom: 121.5%;">
                    <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_165x.jpg?v=1639584819 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_360x.jpg?v=1639584819 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_535x.jpg?v=1639584819 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_720x.jpg?v=1639584819 720w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_535x.jpg?v=1639584819" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="800" height="972" class="">
                </div>
            </div>
            <h3 class="collection-see__name">Hello</h3>
        </li>
        <li class="collection-see-list__item">
            <div class="collection-see_image__wrap">
                <div class="media " style="padding-bottom: 121.5%;">
                    <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_165x.jpg?v=1639584819 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_360x.jpg?v=1639584819 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_535x.jpg?v=1639584819 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_720x.jpg?v=1639584819 720w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-pixabay-247200_535x.jpg?v=1639584819" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="800" height="972" class="">
                </div>
            </div>
            <h3 class="collection-see__name">Hello</h3>
        </li>
    </ul>
  </div>
</div>
