<link rel="stylesheet" href="/assets/collage.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="/assets/component-card-style-1.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="/assets/component-price-style-1.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="/assets/component-deferred-media.css" media="print" onload="this.media='all'">

<div class="collage-wrapper page-width{{#if sectionSettings.heading}} no-heading{{/if}} bc-{{settings.section_style}}-bt">
  <h2 class="collage-wrapper-title">{{sectionSettings.heading}}</h2>

  <div class="collage collage--{{ sectionSettings.desktop_layout }}{{#if (eq sectionSettings.mobile_layout 'collage')}} collage--mobile{{/if}}">
      <div class="collage-card collage-video collage-card--left">
          <noscript>
              <a href="https://www.youtube.com/watch?v=_9VUPq3SxOc" class="card" style="padding-bottom: 50.0%;">
                  <div class="collage-content collage-card__image-wrapper media media--transparent"><img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-edgars-kisuro-1488463_500x.jpg?v=1639586888 500w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-edgars-kisuro-1488463_730x.jpg?v=1639586888 730w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-edgars-kisuro-1488463_1440x.jpg?v=1639586888 1440w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-edgars-kisuro-1488463_990x.jpg?v=1639586888 990w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-edgars-kisuro-1488463_533x.jpg?v=1639586888" sizes="(min-width: 990px) 730px, (min-width: 750px) 500px, calc(100vw - 30px)" alt="Describe the video for customers using screen readers" loading="lazy" width="2000" height="1000" class="collage-card__image"></div>
              </a>
          </noscript>
          <modal-opener class="no-js-hidden" data-modal="#PopupModal-16397082314775a552-0">
              <div class="deferred-media" style="padding-bottom: 50.0%;">
                  <button class="collage-content collage-card__image-wrapper media deferred-media__poster full-unstyled-link" type="button" aria-haspopup="dialog" data-media-id="_9VUPq3SxOc">
                      <span class="deferred-media__poster-button motion-reduce"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-play" fill="none" viewBox="0 0 10 14">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M1.48177 0.814643C0.81532 0.448245 0 0.930414 0 1.69094V12.2081C0 12.991 0.858787 13.4702 1.52503 13.0592L10.5398 7.49813C11.1918 7.09588 11.1679 6.13985 10.4965 5.77075L1.48177 0.814643Z" fill="currentColor"></path>
                          </svg>
                      </span><img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-edgars-kisuro-1488463_500x.jpg?v=1639586888 500w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-edgars-kisuro-1488463_730x.jpg?v=1639586888 730w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-edgars-kisuro-1488463_1440x.jpg?v=1639586888 1440w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-edgars-kisuro-1488463_990x.jpg?v=1639586888 990w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-edgars-kisuro-1488463_533x.jpg?v=1639586888" sizes="(min-width: 990px) 730px, (min-width: 750px) 500px, calc(100vw - 30px)" alt="Describe the video for customers using screen readers" loading="lazy" width="2000" height="1000" class="collage-card__image"></button>
              </div>
          </modal-opener>

          <modal-dialog id="PopupModal-16397082314775a552-0" class="collage-video__modal">
              <div class="collage-video__modal-content" role="dialog" aria-label="Describe the video for customers using screen readers" aria-modal="true" tabindex="-1">
                  <button id="ModalClose-16397082314775a552-0" type="button" class="collage-video__modal-toggle" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" fill="none" viewBox="0 0 18 17">
                          <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
                          </path>
                      </svg>
                  </button>
                  <deferred-media class="collage-video__modal-video template-popup">
                      <template><iframe src="https://www.youtube.com/embed/_9VUPq3SxOc?enablejsapi=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen="" title="Describe the video for customers using screen readers"></iframe></template>
                  </deferred-media>
              </div>
          </modal-dialog>
      </div>
      <div class="collage-card collage-product card-wrapper"><a href="/products/blue-silk-tuxedo" class="collage-content full-unstyled-link card">
              <div class="collage-card__image-wrapper media media--transparent media--hover-effect">
                  <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/products/man-adjusts-blue-tuxedo-bowtie_925x_85bd51ab-af0b-444f-95b3-c2736bc98eba_500x.jpg?v=1638957916 500w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/man-adjusts-blue-tuxedo-bowtie_925x_85bd51ab-af0b-444f-95b3-c2736bc98eba_730x.jpg?v=1638957916 730w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/products/man-adjusts-blue-tuxedo-bowtie_925x_85bd51ab-af0b-444f-95b3-c2736bc98eba_533x.jpg?v=1638957916" sizes="(min-width: 990px) 730px, (min-width: 750px) 500px, calc(100vw - 30px)" alt="Blue Silk Tuxedo" loading="lazy" width="925" height="617" class="collage-card__image">
              </div>
              <div class="collage-product__badge">
                  <div class="card__badge"></div>
              </div>
              <div class="collage-content__info card-information card-information__wrapper">
                  <h3 class="card-information__text h4">Blue Silk Tuxedo</h3>
                  <span class="price">
                      <div id="productPrice" class=" price price--on-sale ">
                          <dl>
                              <div class="price__regular">
                                  <dt>
                                      <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                  </dt>
                                  <dd>
                                      <span class="price-item price-item--regular">
                                          $70.00
                                      </span>
                                  </dd>
                              </div>
                              <div class="price__sale">
                                  <dt class="price__compare">
                                      <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                  </dt>
                                  <dd class="price__compare">
                                      <s class="price-item price-item--regular" 30="" dd="" aa="">
                                          $70.00
                                      </s>
                                  </dd>
                                  <dt>
                                      <span class="visually-hidden visually-hidden--inline">Sale price</span>
                                  </dt>
                                  <dd>
                                      <span class="price-item price-item--sale">$49.00
                                      </span>
                                  </dd>
                                  <dd class="price-item price-item--discount">
                                      (-$21.00)
                                  </dd>

                              </div>
                              <small class="unit-price caption hidden">
                                  <dt class="visually-hidden">Unit price</dt>
                                  <dd>
                                      <span></span>
                                      <span aria-hidden="true">/</span>
                                      <span class="visually-hidden">&nbsp;per&nbsp;</span>
                                      <span>
                                      </span>
                                  </dd>
                              </small>
                          </dl>
                      </div>
                  </span>
              </div>
          </a></div>
      <div class="collage-card color-background-1"><a href="/collections/color-the-bandeau-skirt" class="card animate-arrow">
              <div class="collage-content card-colored color-background-1">
                  <div class="collage-card__image-wrapper media media--transparent media--hover-effect">
                      <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_500x.png?v=1632482026 500w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_730x.png?v=1632482026 730w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_990x.png?v=1632482026 990w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_533x.png?v=1632482026" sizes="(min-width: 990px) 730px, (min-width: 750px) 500px, calc(100vw - 30px)" alt="COLOR THE BANDEAU SKIRT" loading="lazy" width="1273" height="1920" class="collage-card__image">
                  </div>
                  <div class="overlay-card"></div>
                  <div class="collage-content__info">
                      <h3>COLOR THE BANDEAU SKIRT<span class="icon-wrap">&nbsp;<svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
                                  </path>
                              </svg>
                          </span>
                        </h3>
                  </div>
              </div>
          </a>
        </div>
  </div>
</div>
