<link rel="stylesheet" href="/assets/section-contact-form.css" media="print" onload="this.media='all'">

<div class="contact bc-{{settings.section_style}}-bt">
  <div class="page-width">
    <form method="post" action="/contact#ContactForm" id="ContactForm" accept-charset="UTF-8" class="contact-form" onsubmit="window.Shopify.recaptchaV3.addToken(this, &quot;contact&quot;); return false;"><input type="hidden" name="form_type" value="contact"><input type="hidden" name="utf8" value="✓">
        <div class="contact__fields">
            <div class="field">
                <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[Name]" value="" placeholder="Name">
                <label class="field__label" for="ContactForm-name">Name</label>
            </div>
            <div class="field field--with-error">
                <input autocomplete="email" type="email" id="ContactForm-email" class="field__input" name="contact[email]" spellcheck="false" autocapitalize="off" value="" aria-required="true" placeholder="Email">
                <label class="field__label" for="ContactForm-email">Email <span aria-hidden="true">*</span></label>
            </div>
        </div>
        <div class="field">
            <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[Phone number]" pattern="[0-9\-]*" value="" placeholder="Phone number">
            <label class="field__label" for="ContactForm-phone">Phone number</label>
        </div>
        <div class="field">
            <textarea rows="10" id="ContactForm-body" class="text-area field__input" name="contact[Comment]" placeholder="Comment"></textarea>
            <label class="form__label field__label" for="ContactForm-body">Comment</label>
        </div>
        <div class="contact__button">
            <button type="submit" class="button">Send</button>
        </div>
    </form>
  </div>
</div>
