<link rel="stylesheet" href="/assets/component-slider.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="/assets/component-price-style-1.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="/assets/component-badge.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="/assets/component-card-style-1.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="/assets/template-collection-style-1.css" media="print" onload="this.media='all'">

<style type="text/css">
  .collection .page-width-br {
    max-width: 100%;
    padding: 0;
  }
  .bc-br-bt .collection__header {
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #000;
  }
  .bc-br-bt .collection__header .title {
    margin: 0;
  }
  .collection.bc-br-bt .grid {
    margin: 0;
  }
  .collection.bc-br-bt .grid__item {
    padding: 0;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 2px solid #000;
  }
  .collection.bc-br-bt .grid__item:first-child {
    border-left: 0;
  }
  .collection.bc-br-bt .grid__item:last-child {
    border-right: 0;
  }
  .collection.bc-br-bt .card+.card-information {
    padding-bottom: 20px;
  }
  .collection.bc-br-bt div.center {
    padding: 20px 0;
  }
</style>

<div class="collection bc-<%= settings.section_style%>-bt">
  <div class="page-width page-width-<%= settings.section_style%>">
    <div class="collection__header <% if(section.settings.show_view_all && section.settings.swipe_on_mobile){ %>title-wrapper-with-link<% } %> <% if( section.settings.title){ %> title-wrapper-with-link--no-heading<% } %><% if(section.settings.swipe_on_mobile && section.settings.products_to_show > 2){ %> title-wrapper--self-padded-tablet-down<% } %>">
      <h2 class="title <% if(section.settings.title){ %>title--no-heading<% } %>"><%= section.settings.title %></h2>

      <% if(section.settings.show_view_all && section.settings.swipe_on_mobile){ %>
        <a href="/collections/all" class="link underlined-link large-up-hide">View More</a>
      <% } %>
    </div>
    <slider-component class="slider-mobile-gutter">
      <ul class="grid grid--2-col grid--3-col-tablet <% if(section.settings.swipe_on_mobile){ %>slider slider--tablet grid--peek<% } %> negative-margin" role="list">
          <li class="grid__item">
              <div class="card-wrapper">
                  <span class="visually-hidden">Terrace and Observation Deck at the Moulin de Blute-Fin</span>
                  <div class="card card--product" tabindex="-1">
                      <div class="card__inner">
                          <div>
                              <a href="/products/terrace-and-observation-deck-at-the-moulin-de-blute-fin" class="full-unstyled-link">
                                  <div class="media media--transparent media--adapt media--hover-effect" style="padding-bottom: 100.0%;">
                                      <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_2500x_48b72b4e-18f6-4fa6-8fdf-9a97ac96e37d_165x.jpg?v=1640413725 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_2500x_48b72b4e-18f6-4fa6-8fdf-9a97ac96e37d_360x.jpg?v=1640413725 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_2500x_48b72b4e-18f6-4fa6-8fdf-9a97ac96e37d_533x.jpg?v=1640413725 533w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_2500x_48b72b4e-18f6-4fa6-8fdf-9a97ac96e37d_720x.jpg?v=1640413725 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_2500x_48b72b4e-18f6-4fa6-8fdf-9a97ac96e37d_940x.jpg?v=1640413725 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_2500x_48b72b4e-18f6-4fa6-8fdf-9a97ac96e37d_1066x.jpg?v=1640413725 1066w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_2500x_48b72b4e-18f6-4fa6-8fdf-9a97ac96e37d_360x.jpg?v=1640413725" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="Terrace and Observation Deck at the Moulin de Blute-Fin" loading="lazy" class="motion-reduce" width="2500" height="2500">
                                  </div>
                              </a>
                          </div>
                          <div class="bc-product-grid-variants">
                              <div class="bc-variant-item ">
                                  <a href="/products/terrace-and-observation-deck-at-the-moulin-de-blute-fin?variant=41382839746721" 13="">DT</a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="card-information">
                      <div class="card-information__wrapper"><a href="/products/terrace-and-observation-deck-at-the-moulin-de-blute-fin" class="full-unstyled-link">
                              <span class="card-information__text h5">
                                  Terrace and Observation Deck at the Moulin de Blute-Fin
                              </span>
                          </a>
                          <div id="productPrice" class=" price  price--on-sale ">
                              <dl>
                                  <div class="price__regular">
                                      <dt>
                                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                      </dt>
                                      <dd>
                                          <span class="price-item price-item--regular">
                                              $1,386.00
                                          </span>
                                      </dd>
                                  </div>
                                  <div class="price__sale">
                                      <dt class="price__compare">
                                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                      </dt>
                                      <dd class="price__compare">
                                          <s class="price-item price-item--regular" 30="" dd="" aa="">

                                              $1,386.00

                                          </s>
                                      </dd>
                                      <dt>
                                          <span class="visually-hidden visually-hidden--inline">Sale price</span>
                                      </dt>
                                      <dd>
                                          <span class="price-item price-item--sale">$970.20
                                          </span>
                                      </dd>
                                      <dd class="price-item price-item--discount">
                                          (-$415.80)
                                      </dd>

                                  </div>
                                  <small class="unit-price caption hidden">
                                      <dt class="visually-hidden">Unit price</dt>
                                      <dd>
                                          <span></span>
                                          <span aria-hidden="true">/</span>
                                          <span class="visually-hidden">&nbsp;per&nbsp;</span>
                                          <span>
                                          </span>
                                      </dd>
                                  </small>
                              </dl>
                          </div>
                      </div>

                  </div>
              </div>

          </li>
          <li class="grid__item">
              <div class="card-wrapper">
                  <span class="visually-hidden">Pines on the Coastline</span>
                  <div class="card card--product" tabindex="-1">
                      <div class="card__inner">
                          <div>
                              <a href="/products/pines-on-the-coastline" class="full-unstyled-link">
                                  <div class="media media--transparent media--adapt media--hover-effect" style="padding-bottom: 100.0%;">
                                      <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_1080x_8af13b3c-9896-49af-8d5d-001c532f8092_165x.jpg?v=1640413506 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_1080x_8af13b3c-9896-49af-8d5d-001c532f8092_360x.jpg?v=1640413506 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_1080x_8af13b3c-9896-49af-8d5d-001c532f8092_533x.jpg?v=1640413506 533w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_1080x_8af13b3c-9896-49af-8d5d-001c532f8092_720x.jpg?v=1640413506 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_1080x_8af13b3c-9896-49af-8d5d-001c532f8092_940x.jpg?v=1640413506 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_1080x_8af13b3c-9896-49af-8d5d-001c532f8092_1066x.jpg?v=1640413506 1066w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_1080x_8af13b3c-9896-49af-8d5d-001c532f8092_360x.jpg?v=1640413506" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="Pines on the Coastline" loading="lazy" class="motion-reduce" width="1080" height="1080">
                                  </div>
                              </a>
                          </div>


                          <div class="bc-product-grid-variants">
                              <div class="bc-variant-item ">
                                  <a href="/products/pines-on-the-coastline?variant=41382834241697" 13="">DT</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="card-information">
                      <div class="card-information__wrapper"><a href="/products/pines-on-the-coastline" class="full-unstyled-link">
                              <span class="card-information__text h5">
                                  Pines on the Coastline
                              </span>
                          </a>
                          <div id="productPrice" class=" price  price--on-sale ">
                              <dl>
                                  <div class="price__regular">
                                      <dt>
                                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                      </dt>
                                      <dd>
                                          <span class="price-item price-item--regular"> $2,079.00 </span>
                                      </dd>
                                  </div>
                                  <div class="price__sale">
                                      <dt class="price__compare">
                                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                      </dt>
                                      <dd class="price__compare">
                                          <s class="price-item price-item--regular" 30="" dd="" aa="">$2,079.00</s>
                                      </dd>
                                      <dt>
                                          <span class="visually-hidden visually-hidden--inline">Sale price</span>
                                      </dt>
                                      <dd>
                                          <span class="price-item price-item--sale">$1,455.30
                                          </span>
                                      </dd>
                                      <dd class="price-item price-item--discount">(-$623.70)</dd>

                                  </div>
                                  <small class="unit-price caption hidden">
                                      <dt class="visually-hidden">Unit price</dt>
                                      <dd>
                                          <span></span>
                                          <span aria-hidden="true">/</span>
                                          <span class="visually-hidden">&nbsp;per&nbsp;</span>
                                          <span>
                                          </span>
                                      </dd>
                                  </small>
                              </dl>
                          </div>
                      </div>

                  </div>
              </div>

          </li>
          <li class="grid__item">
              <div class="card-wrapper">
                  <span class="visually-hidden">Mount Fuji from Lake Yamanaka</span>
                  <div class="card card--product" tabindex="-1">
                      <div class="card__inner">
                          <div>
                              <a href="/products/mount-fuji-from-lake-yamanaka" class="full-unstyled-link">
                                  <div class="media media--transparent media--adapt media--hover-effect" style="padding-bottom: 100.0%;">
                                      <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/products/Japan-2-lighter_2000x_016740c5-98ab-4766-8e0f-57576b5d2f72_165x.jpg?v=1640413165 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Japan-2-lighter_2000x_016740c5-98ab-4766-8e0f-57576b5d2f72_360x.jpg?v=1640413165 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Japan-2-lighter_2000x_016740c5-98ab-4766-8e0f-57576b5d2f72_533x.jpg?v=1640413165 533w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Japan-2-lighter_2000x_016740c5-98ab-4766-8e0f-57576b5d2f72_720x.jpg?v=1640413165 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Japan-2-lighter_2000x_016740c5-98ab-4766-8e0f-57576b5d2f72_940x.jpg?v=1640413165 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Japan-2-lighter_2000x_016740c5-98ab-4766-8e0f-57576b5d2f72_1066x.jpg?v=1640413165 1066w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/products/Japan-2-lighter_2000x_016740c5-98ab-4766-8e0f-57576b5d2f72_360x.jpg?v=1640413165" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="Mount Fuji from Lake Yamanaka" loading="lazy" class="motion-reduce" width="2000" height="2000">
                                  </div>
                              </a>
                          </div>
                          <div class="bc-product-grid-variants">
                              <div class="bc-variant-item ">
                                  <a href="/products/mount-fuji-from-lake-yamanaka?variant=41382830178465" 13="">DT</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="card-information">
                      <div class="card-information__wrapper"><a href="/products/mount-fuji-from-lake-yamanaka" class="full-unstyled-link">
                              <span class="card-information__text h5">
                                  Mount Fuji from Lake Yamanaka
                              </span>
                          </a>
                          <div id="productPrice" class=" price  price--on-sale ">
                              <dl>
                                  <div class="price__regular">
                                      <dt>
                                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                      </dt>
                                      <dd>
                                          <span class="price-item price-item--regular">$1,040.00</span>
                                      </dd>
                                  </div>
                                  <div class="price__sale">
                                      <dt class="price__compare">
                                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                      </dt>
                                      <dd class="price__compare">
                                          <s class="price-item price-item--regular" 30="" dd="" aa="">$1,040.00</s>
                                      </dd>
                                      <dt>
                                          <span class="visually-hidden visually-hidden--inline">Sale price</span>
                                      </dt>
                                      <dd>
                                          <span class="price-item price-item--sale">$728.00 </span>
                                      </dd>
                                      <dd class="price-item price-item--discount"> (-$312.00)   </dd>

                                  </div>
                                  <small class="unit-price caption hidden">
                                      <dt class="visually-hidden">Unit price</dt>
                                      <dd>
                                          <span></span>
                                          <span aria-hidden="true">/</span>
                                          <span class="visually-hidden">&nbsp;per&nbsp;</span>
                                          <span>
                                          </span>
                                      </dd>
                                  </small>
                              </dl>
                          </div>

                      </div>

                  </div>
              </div>

          </li>
      </ul>
    </slider-component>

    <% if(section.settings.show_view_all && section.settings.swipe_on_mobile){ %>
      <div class="center<% if(section.settings.swipe_on_mobile){ %> small-hide medium-hide<% } %>">
        <a href="/collections/all" class="button">View More</a> 
      </div>
    <% } %>
  </div>
</div>
