<link rel="stylesheet" href="/assets/section-image-banner.css" media="print" onload="this.media='all'">

<div id="Banner-template--15300017979553__164253890362d227ae" class="banner hero_banner bc-<%=settings.section_style%>-bt" data-href="/collections/all" style="cursor: pointer;">
    <div class="media small-hide" style="padding-bottom: 50.0%;">
        <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-972995_375x.jpg?v=1639583302 375w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-972995_750x.jpg?v=1639583302 750w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-972995_1100x.jpg?v=1639583302 1100w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-972995_1500x.jpg?v=1639583302 1500w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-972995_1780x.jpg?v=1639583302 1780w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-972995_2000x.jpg?v=1639583302 2000w," sizes="50vw" src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-972995_750x.jpg?v=1639583302" loading="lazy" alt="" width="2000" height="1000.0" data-aos="zoom-out">
    </div>
    <div class="media large-up-hide medium-hide" style="padding-bottom: 122.5641026%;">
        <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-972995-s_165x.jpg?v=1639583377 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-972995-s_360x.jpg?v=1639583377 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-972995-s_535x.jpg?v=1639583377 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-972995-s_720x.jpg?v=1639583377 720w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-972995-s_535x.jpg?v=1639583377" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="780" height="956" class="">
    </div>
    <div class="banner__content page-width">
        <div class="banner__box">
            <h2 class="banner__heading h1 color-white">
                Image banner
            </h2>
            <div class="banner__text color-white">
                <p>Give customers details about the banner image(s) or content on the template.</p>
            </div>
            <div class="banner__buttons">
                <a id="bunner__button-16425389039f659f32-2" href="/collections/all" class="button button--primary">
                    Button label
                </a>
            </div>
        </div>
    </div>

</div>
