<link rel="stylesheet" href="/assets/component-image-with-video.css" media="print" onload="this.media='all'">
   
<image-with-video class="bc-image-with-video bc-<%=settings.section_style%>-bt">      
        <div class="bc-image-with-video__content <%= section.settings.align %> <%= section.settings.position %> <%= section.settings.v_position %>">
          <h2 class="bc-image-with-video__heading">transeasonal pieces</h2>
          <div class="bc-image-with-video__text">
              <p>clothes that make U feel like U</p>
          </div>
          <a class="button button--primary">Shop Now</a>
        </div>
        <div class="bc-item bc-image-with-video__wrapper-image">
            <div class="media" style="padding-bottom: 70.361328125%;"><img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-alexandra-maria-318236_165x.jpg?v=1639584582 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-alexandra-maria-318236_360x.jpg?v=1639584582 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-alexandra-maria-318236_535x.jpg?v=1639584582 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-alexandra-maria-318236_720x.jpg?v=1639584582 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-alexandra-maria-318236_940x.jpg?v=1639584582 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-alexandra-maria-318236_1070x.jpg?v=1639584582 1070w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-alexandra-maria-318236_533x.jpg?v=1639584582" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="2048" height="1441" class="bc-image-with-video__image"></div>
        </div>
        <div class="bc-item bc-image-with-video__wrapper-video  placeholder">
          <iframe src="https://www.youtube.com/embed/rUWxSEwctFU?autoplay=1&amp;mute=1&amp;loop=1" frameborder="0" allow="autoplay" allowfullscreen=""></iframe>
        </div>
</image-with-video>
  