<link rel="preload" href="/assets/component-collection-hero.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

<product-password class="collection-hero collection-hero-password collection-hero--with-image">
    <div class="collection-hero__inner page-width">
        <style type="text/css">
            .collection-hero__inner-template--15300018307233__banner {
                color: #ffffff;
            }
        </style>
        <div class="collection-hero__text-wrapper">
            <link href="//cdn.shopify.com/s/files/1/0584/1993/7441/t/22/assets/component-countdown.css?v=9146750419304450665" rel="stylesheet" type="text/css" media="all">

            <count-down data-date="2022-11-25T00:00:00">
                <div id="countdown-container" class="countdown-container">
                    <article id="js-countdown" class="countdown">
                        <div id="js-days" class="number"><span class="new current">09</span></div>
                        <div id="js-hours" class="number"><span class="new current">12</span></div>
                        <div id="js-minutes" class="number"><span class="new current">28</span></div>
                        <div id="js-seconds" class="number"><span class="new current">52</span></div>
                    </article>
                </div>
            </count-down>

            <script src="//cdn.shopify.com/s/files/1/0584/1993/7441/t/22/assets/component-countdown.js?v=1074139929380656811" defer="defer"></script>
            <h1 class="collection-hero__title" style=" color: white;">Password Product</h1>
            <form action="/password?oseid=pT7cz97uhdYasrfzckrFiUeM" method="GET" data-id="3bd4df00b166e32e17d47f4ed5bf83d3" class="bc-password-form" data-editor-form-attribute="">
                <div class="bc-password-wrapper">
                    <input type="password" name="password" id="coll-password-field" class="field__input" placeholder="Password" required=""><span class="bc-error-message bc-hide" data-type="error" data-live-text-setting="section.template--15300018307233__banner.error">Try Again Babe</span>
                </div>
                <div class="bc-button-wrapper">
                    <button type="submit" name="submit" class="button bc-submit" data-live-text-setting="section.template--15300018307233__banner.btn">Enter</button>
                </div><input type="hidden" name="oseid" value="pT7cz97uhdYasrfzckrFiUeM">
            </form>
        </div>
        <div class="collection-hero__image-container media"><img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/black-tie-mens-fashion_750x.jpg?v=1638959582 750w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/black-tie-mens-fashion_1100x.jpg?v=1638959582 1100w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/black-tie-mens-fashion_1500x.jpg?v=1638959582 1500w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/black-tie-mens-fashion_1780x.jpg?v=1638959582 1780w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/black-tie-mens-fashion_2000x.jpg?v=1638959582 2000w//cdn.shopify.com/s/files/1/0584/1993/7441/files/black-tie-mens-fashion_2800x.jpg?v=1638959582 2800w," sizes="100vw" src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/black-tie-mens-fashion_750x.jpg?v=1638959582" alt="" loading="lazy" width="4096" height="3075"></div>
    </div>
</product-password>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js" defer="defer"></script>
<script src="/assets/product-password.js" defer="defer"></script>
