<link rel="stylesheet" href="/assets/component-collection-hero.css" media="print" onload="this.media='all'">

<div class="collection-hero collection-hero--with-image py-{{block.settings.page_y_pd}} py-{{block.settings.page_x_pd}} py-{{block.settings.page_y_mg}} py-{{block.settings.page_width}}">
  <div class="collection-hero__inner collection-hero__inner-6c14fd5b-07d0-4a2b-9de6-d3167a51ad1a">
      <style type="text/css">
          .collection-hero__inner-6c14fd5b-07d0-4a2b-9de6-d3167a51ad1a {
              color: #ffffff;
              position: relative;
          }
          .collection-hero__inner-6c14fd5b-07d0-4a2b-9de6-d3167a51ad1a::after {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background-color: #000000;
              opacity: 0.4;
          }
      </style>
      <div class="collection-hero__text-wrapper">
          <h1 class="collection-hero__title">
              <span class="visually-hidden">Collection: </span>Base Brand
          </h1>
          <link href="//cdn.shopify.com/s/files/1/0584/1993/7441/t/22/assets/component-countdown.css?v=9146750419304450665" rel="stylesheet" type="text/css" media="all">

          <count-down data-date="2022-12-31T00:00:00">
              <div id="countdown-container" class="countdown-container">
                  <article id="js-countdown" class="countdown">
                      <div id="js-days" class="number"><span class="new current">20</span></div>
                      <div id="js-hours" class="number"><span class="new current">22</span></div>
                      <div id="js-minutes" class="number"><span class="new current">31</span></div>
                      <div id="js-seconds" class="number"><span class="new current">10</span></div>
                  </article>
              </div>
          </count-down>

          <script src="//cdn.shopify.com/s/files/1/0584/1993/7441/t/22/assets/component-countdown.js?v=1074139929380656811" defer="defer"></script>
      </div>
      <div class="collection-hero__image-container">
          <div class="media " style="padding-bottom: 50.0%;">
              <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-edgars-kisuro-1488463_375x.jpg?v=1639586888 375w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-edgars-kisuro-1488463_750x.jpg?v=1639586888 750w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-edgars-kisuro-1488463_1100x.jpg?v=1639586888 1100w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-edgars-kisuro-1488463_1500x.jpg?v=1639586888 1500w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-edgars-kisuro-1488463_1780x.jpg?v=1639586888 1780w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-edgars-kisuro-1488463_2000x.jpg?v=1639586888 2000w," sizes="100vw" src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-edgars-kisuro-1488463_750x.jpg?v=1639586888" alt="" width="2000" height="1000.0">
          </div>
      </div>
  </div>
</div>

