<link rel="stylesheet" href="/assets/component-collection-email.css" media="print" onload="this.media='all'">  
<div class="bc-collection-email-bunner" id="bc-1ee999f0-ba47-4f95-92c3-bf1f3d0edbfd">
    <div class="bc-collection-email-bunner__wrapper bc-collection-email-bunner__wrapper-1ee999f0-ba47-4f95-92c3-bf1f3d0edbfd">
        <style type="text/css">
            .bc-collection-email-bunner__wrapper-1ee999f0-ba47-4f95-92c3-bf1f3d0edbfd {
                height: 300px;
                background-color: #969892;
                background-size: cover;
                justify-content: center;
                align-items: center;
            }
            @media only screen and (max-width: 768px) {
                .bc-collection-email-bunner__wrapper-1ee999f0-ba47-4f95-92c3-bf1f3d0edbfd {
                    height: 50vh;
                    background-size: cover;
                    justify-content: center;
                    align-items: center;
                }
            }
        </style>
        <div class="bc-collection-email-bunner__content bc-collection-email-bunner__content-1ee999f0-ba47-4f95-92c3-bf1f3d0edbfd">
            <style type="text/css">
                .bc-collection-email-bunner__content-1ee999f0-ba47-4f95-92c3-bf1f3d0edbfd {
                    width: 70%;
                    padding: 0 25px;
                    text-align: center;
                }

                @media only screen and (max-width: 768px) {
                    .bc-collection-email-bunner__content-1ee999f0-ba47-4f95-92c3-bf1f3d0edbfd {
                        padding: 0 15px;
                        text-align: center;
                    }
                }
            </style>Form Widget
        </div>
    </div>
    <h1 class="bc-collection-email__title bc-collection-email__title-1ee999f0-ba47-4f95-92c3-bf1f3d0edbfd">
        Fashion Collection
    </h1>
    <style type="text/css">
        .bc-collection-email__title-1ee999f0-ba47-4f95-92c3-bf1f3d0edbfd {
            margin: 0 0 20px 0;
        }

        @media only screen and (max-width: 768px) {
            .bc-collection-email__title-1ee999f0-ba47-4f95-92c3-bf1f3d0edbfd {
                margin: 0 0 20px 0;
            }
        }
    </style>
</div>
    