<link rel="stylesheet" href="/assets/component-article-card.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="/assets/component-card-style-1.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="/assets/section-main-blog.css" media="print" onload="this.media='all'">

<div class="main-blog page-width">
  <h1 class="title--primary">News<br>
      <a target="_blank" class="rss-feed font--accent" style="font-size: 12px;display: inherit;font-weight: 400;" href="https://h681url9djs25btf-58419937441.shopifypreview.com/blogs/news.atom">RSS</a>
  </h1>

  <div class="blog-articles">
      <div class="blog-articles__article article">

          <article class="article-card" aria-labelledby="Article-557524287649">
              <a href="/blogs/news/i-am-here" class="article-content motion-reduce">
                  {{#if sectionSettings.show_image}}
                  <div class="article-card__image-wrapper">
                      <div class="article-card__image media media--landscape">
                          <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/articles/Rectangle_218_165x.png?v=1639840659 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/articles/Rectangle_218_360x.png?v=1639840659 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/articles/Rectangle_218_533x.png?v=1639840659 533w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/articles/Rectangle_218_533x.png?v=1639840659" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="i am here" width="683" height="471" loading="lazy" class="motion-reduce">
                      </div>
                  </div>
                  {{/if}}
                  <div class="article-card__info">
                      <header class="article-card__header">
                          <h2 class="article-card__title" id="Article-557524287649">
                              i am here
                          </h2><span class="circle-divider caption-with-letter-spacing"><time datetime="2021-12-07T02:18:29Z">December 2021</time></span>
                      </header>
                      <p class="article-card__excerpt">Add a summary of the post to appear on your home page or blog.
                      </p>
                      <div class="article-card__footer">
                          <span class="link article-card__link" aria-label="Read more: i am here">
                              Read more
                          </span>
                      </div>
                  </div>
              </a>
          </article>
      </div>
  </div>
</div>
