<link rel="preload" href="/assets/component-card-style-1.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="/assets/section-collection-list.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

<div class="page-width bc-collection-list">
    <h1 class="title title--primary">Collections</h1>
    <ul class="collection-list grid grid--1-col grid--3-col-tablet" role="list">
        <li class="collection-list__item grid__item">
            <a href="/collections/base-brand" class="card animate-arrow" style="border-color:#000000;">
                <div class="card--stretch card-colored color-background-1">
                    <div class="overlay-card"></div>
                    <div class="card__text-spacing card__text-hover">
                        <h2 class="h1">Base Brand<span class="icon-wrap">&nbsp;<svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
                                    </path>
                                </svg>
                            </span>
                        </h2>
                    </div>
                </div>
            </a>
        </li>
        <li class="collection-list__item grid__item">
            <a href="/collections/bundle-set" class="card animate-arrow card--media" style="border-color:#000000;">
                <div class="card--stretch card-colored color-background-1">
                    <div>

                        <div class="media media--adapt media--hover-effect overflow-hidden" style="padding-bottom: 150.0%;">

                            <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/collections/pexels-jill-wellington-3264665_165x.jpg?v=1641479351 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/pexels-jill-wellington-3264665_360x.jpg?v=1641479351 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/pexels-jill-wellington-3264665_535x.jpg?v=1641479351 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/pexels-jill-wellington-3264665_720x.jpg?v=1641479351 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/pexels-jill-wellington-3264665_940x.jpg?v=1641479351 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/pexels-jill-wellington-3264665_1070x.jpg?v=1641479351 1070w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/collections/pexels-jill-wellington-3264665_533x.jpg?v=1641479351" sizes="(min-width: 1100px) 358px, (min-width: 750px) calc((100vw - 130px) / 3), calc(100vw - 30px)" alt="Bundle Set" height="2250" width="1500" loading="lazy">
                        </div>
                    </div>
                    <div class="card__text card__text-spacing card__text-hover">
                        <div class="overlay-card"></div>
                        <h2 class="h3">Bundle Set<span class="icon-wrap">&nbsp;<svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
                                    </path>
                                </svg>
                            </span></h2>
                    </div>
                </div>
            </a>
        </li>
        <li class="collection-list__item grid__item">
            <a class="card animate-arrow card--media" style="border-color:#000000;">
                <div class="card--stretch card-colored color-background-1">
                    <div>

                        <div class="media media--adapt media--hover-effect overflow-hidden" style="padding-bottom: 150.8248233%;">

                            <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_165x.png?v=1632482026 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_360x.png?v=1632482026 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_535x.png?v=1632482026 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_720x.png?v=1632482026 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_940x.png?v=1632482026 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_1070x.png?v=1632482026 1070w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_533x.png?v=1632482026" sizes="(min-width: 1100px) 358px, (min-width: 750px) calc((100vw - 130px) / 3), calc(100vw - 30px)" alt="COLOR THE BANDEAU SKIRT" height="1920" width="1273" loading="lazy">
                        </div>
                    </div>
                    <div class="card__text card__text-spacing card__text-hover">
                        <div class="overlay-card"></div>
                        <h2 class="h3">COLOR THE BANDEAU SKIRT<span class="icon-wrap">&nbsp;<svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
                                    </path>
                                </svg>
                            </span></h2>
                    </div>
                </div>
            </a>
        </li>
        <li class="collection-list__item grid__item">
            <a href="/collections/dev" class="card animate-arrow" style="border-color:#000000;">
                <div class="card--stretch card-colored color-background-1">
                    <div class="overlay-card"></div>
                    <div class="card__text-spacing card__text-hover">
                        <h2 class="h1">dev<span class="icon-wrap">&nbsp;<svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
                                    </path>
                                </svg>
                            </span>
                        </h2>
                    </div>
                </div>
            </a>
        </li>
        <li class="collection-list__item grid__item">
            <a href="/collections/frontpage" class="card animate-arrow card--media" style="border-color:#000000;">
                <div class="card--stretch card-colored color-background-1">
                    <div>

                        <div class="media media--adapt media--hover-effect overflow-hidden" style="padding-bottom: 150.8248233%;">

                            <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/collections/D1Espresso_165x.jpg?v=1632482002 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/D1Espresso_360x.jpg?v=1632482002 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/D1Espresso_535x.jpg?v=1632482002 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/D1Espresso_720x.jpg?v=1632482002 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/D1Espresso_940x.jpg?v=1632482002 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/D1Espresso_1070x.jpg?v=1632482002 1070w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/collections/D1Espresso_533x.jpg?v=1632482002" sizes="(min-width: 1100px) 358px, (min-width: 750px) calc((100vw - 130px) / 3), calc(100vw - 30px)" alt="Home page" height="1920" width="1273" loading="lazy">
                        </div>
                    </div>
                    <div class="card__text card__text-spacing card__text-hover">
                        <div class="overlay-card"></div>
                        <h2 class="h3">Home page<span class="icon-wrap">&nbsp;<svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
                                    </path>
                                </svg>
                            </span></h2>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
