<link rel="preload" href="/assets/component-newsletter-style-1.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="/assets/newsletter-section.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

<div class="newsletter center{{#if (eq sectionSettings.full_width 'false')}} newsletter--narrow page-width{{/if}} bc-{{settings.section_style}}-bt">
  <div class="newsletter__wrapper py-{{ sectionSettings.color_scheme }}">
    <h2 class="h1">Subscribe to our emails</h2>
    <div class="newsletter__subheading rte">
        <p>Be the first to know about new collections and exclusive offers.</p>
    </div>
    <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="newsletter-form"><input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓">
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="newsletter-form__field-wrapper">
            <div class="field">
                <input id="NewsletterForm--template--15300017979553__16397083985ba7502b" type="email" name="contact[email]" class="field__input" value="" aria-required="true" autocorrect="off" autocapitalize="off" autocomplete="email" placeholder="Your email" required="">
                <label class="field__label" for="NewsletterForm--template--15300017979553__16397083985ba7502b">
                    Your email
                </label>
            </div>
        </div>
        <button type="submit" class="newsletter__button button" name="commit">
            Subscribe
        </button>
    </form>
  </div>
</div>
