<link rel="stylesheet" href="/assets/component-badge.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="/assets/component-card-style-1.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="/assets/component-price-style-1.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="/assets/section-product-recommendations-style-1.css" media="print" onload="this.media='all'">
<link rel="preload" href="/assets/component-variants.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

<product-recommendations class="product-recommendations page-width" data-url="/recommendations/products?section_id=template--15300018340001__product-recommendations&amp;product_id=7171946545313&amp;limit=8">
    <h2 class="product-recommendations__heading">{{ sectionSettings.heading }}</h2>
    <ul class="grid grid--2-col grid--3-col-tablet grid--4-col-desktop grid--quarter-max bc-scroll-hide" role="list">
        <li class="grid__item">


            <div class="card-wrapper">
                <span class="visually-hidden">Terrace and Observation Deck at the Moulin de Blute-Fin</span>
                <div class="card card--product" tabindex="-1">
                    <div class="card__inner">
                        <div {{#if (eq sectionSettings.add_image_padding 'true')}} class="card__media-full-spacer"{{/if}}>
                            <a href="/products/terrace-and-observation-deck-at-the-moulin-de-blute-fin?pr_prod_strat=collection_fallback&amp;pr_rec_pid=7189777940641&amp;pr_ref_pid=7171946545313&amp;pr_seq=uniform" class="full-unstyled-link">
                                <div class="media media--transparent media--adapt media--hover-effect" style="padding-bottom: 100.0%;">
                                    <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_2500x_48b72b4e-18f6-4fa6-8fdf-9a97ac96e37d_165x.jpg?v=1640413725 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_2500x_48b72b4e-18f6-4fa6-8fdf-9a97ac96e37d_360x.jpg?v=1640413725 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_2500x_48b72b4e-18f6-4fa6-8fdf-9a97ac96e37d_533x.jpg?v=1640413725 533w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_2500x_48b72b4e-18f6-4fa6-8fdf-9a97ac96e37d_720x.jpg?v=1640413725 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_2500x_48b72b4e-18f6-4fa6-8fdf-9a97ac96e37d_940x.jpg?v=1640413725 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_2500x_48b72b4e-18f6-4fa6-8fdf-9a97ac96e37d_1066x.jpg?v=1640413725 1066w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_2500x_48b72b4e-18f6-4fa6-8fdf-9a97ac96e37d_360x.jpg?v=1640413725" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="Terrace and Observation Deck at the Moulin de Blute-Fin" loading="lazy" class="motion-reduce" width="2500" height="2500">
                                    {{#if (eq sectionSettings.show_secondary_image 'true')}}
                                    <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/products/zoom_2000x_1c711990-40bf-4da5-be96-7896b3a9b0a6_165x.jpg?v=1640413725 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/zoom_2000x_1c711990-40bf-4da5-be96-7896b3a9b0a6_360x.jpg?v=1640413725 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/zoom_2000x_1c711990-40bf-4da5-be96-7896b3a9b0a6_533x.jpg?v=1640413725 533w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/zoom_2000x_1c711990-40bf-4da5-be96-7896b3a9b0a6_720x.jpg?v=1640413725 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/zoom_2000x_1c711990-40bf-4da5-be96-7896b3a9b0a6_940x.jpg?v=1640413725 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/zoom_2000x_1c711990-40bf-4da5-be96-7896b3a9b0a6_1066x.jpg?v=1640413725 1066w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/products/zoom_2000x_1c711990-40bf-4da5-be96-7896b3a9b0a6_360x.jpg?v=1640413725" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="Terrace and Observation Deck at the Moulin de Blute-Fin" loading="lazy" class="motion-reduce" width="2000" height="2000">
                                    {{/if}}
                                </div>
                            </a>
                        </div>


                        <div class="bc-product-grid-variants">
                            <div class="bc-variant-item ">
                                <a href="/products/terrace-and-observation-deck-at-the-moulin-de-blute-fin?variant=41382839746721" 13="">DT</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-information">
                    <div class="card-information__wrapper">
                        {{#if (eq sectionSettings.show_vendor 'true')}}
                        <span class="visually-hidden">Vendor:</span>
                        <div class="caption-with-letter-spacing light">partners-demo</div>
                        {{/if}}
                        <a href="/products/terrace-and-observation-deck-at-the-moulin-de-blute-fin?pr_prod_strat=collection_fallback&amp;pr_rec_pid=7189777940641&amp;pr_ref_pid=7171946545313&amp;pr_seq=uniform" class="full-unstyled-link">
                            <span class="card-information__text h5">
                                Terrace and Observation Deck at the Moulin de Blute-Fin
                            </span>
                        </a>
                        <div id="productPrice" class=" price  price--on-sale ">
                            <dl>
                                <div class="price__regular">
                                    <dt>
                                        <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                    </dt>
                                    <dd>
                                        <span class="price-item price-item--regular">
                                            $1,386.00
                                        </span>
                                    </dd>
                                </div>
                                <div class="price__sale">
                                    <dt class="price__compare">
                                        <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                    </dt>
                                    <dd class="price__compare">
                                        <s class="price-item price-item--regular" 30="" dd="" aa="">

                                            $1,386.00

                                        </s>
                                    </dd>
                                    <dt>
                                        <span class="visually-hidden visually-hidden--inline">Sale price</span>
                                    </dt>
                                    <dd>
                                        <span class="price-item price-item--sale">$970.20
                                        </span>
                                    </dd>
                                    <dd class="price-item price-item--discount">
                                        (-$415.80)
                                    </dd>

                                </div>
                                <small class="unit-price caption hidden">
                                    <dt class="visually-hidden">Unit price</dt>
                                    <dd>
                                        <span></span>
                                        <span aria-hidden="true">/</span>
                                        <span class="visually-hidden">&nbsp;per&nbsp;</span>
                                        <span>
                                        </span>
                                    </dd>
                                </small>
                            </dl>
                        </div>

                    </div>

                </div>
            </div>

        </li>
        <li class="grid__item">


            <div class="card-wrapper">
                <span class="visually-hidden">Pines on the Coastline</span>
                <div class="card card--product" tabindex="-1">
                    <div class="card__inner">
                        <div {{#if (eq sectionSettings.add_image_padding 'true')}} class="card__media-full-spacer"{{/if}}>
                            <a href="/products/pines-on-the-coastline?pr_prod_strat=collection_fallback&amp;pr_rec_pid=7189775515809&amp;pr_ref_pid=7171946545313&amp;pr_seq=uniform" class="full-unstyled-link">
                                <div class="media media--transparent media--adapt media--hover-effect" style="padding-bottom: 100.0%;">
                                    <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_1080x_8af13b3c-9896-49af-8d5d-001c532f8092_165x.jpg?v=1640413506 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_1080x_8af13b3c-9896-49af-8d5d-001c532f8092_360x.jpg?v=1640413506 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_1080x_8af13b3c-9896-49af-8d5d-001c532f8092_533x.jpg?v=1640413506 533w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_1080x_8af13b3c-9896-49af-8d5d-001c532f8092_720x.jpg?v=1640413506 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_1080x_8af13b3c-9896-49af-8d5d-001c532f8092_940x.jpg?v=1640413506 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_1080x_8af13b3c-9896-49af-8d5d-001c532f8092_1066x.jpg?v=1640413506 1066w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/products/Switch-Themes-Frame-Mockup_1080x_8af13b3c-9896-49af-8d5d-001c532f8092_360x.jpg?v=1640413506" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="Pines on the Coastline" loading="lazy" class="motion-reduce" width="1080" height="1080">
                                    {{#if (eq sectionSettings.show_secondary_image 'true')}}
                                    <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/products/zoomed2_2000x_a8ca1508-d816-4d87-9842-045b2befb7c6_165x.jpg?v=1640413506 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/zoomed2_2000x_a8ca1508-d816-4d87-9842-045b2befb7c6_360x.jpg?v=1640413506 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/zoomed2_2000x_a8ca1508-d816-4d87-9842-045b2befb7c6_533x.jpg?v=1640413506 533w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/zoomed2_2000x_a8ca1508-d816-4d87-9842-045b2befb7c6_720x.jpg?v=1640413506 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/zoomed2_2000x_a8ca1508-d816-4d87-9842-045b2befb7c6_940x.jpg?v=1640413506 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/zoomed2_2000x_a8ca1508-d816-4d87-9842-045b2befb7c6_1066x.jpg?v=1640413506 1066w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/products/zoomed2_2000x_a8ca1508-d816-4d87-9842-045b2befb7c6_360x.jpg?v=1640413506" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="Pines on the Coastline" loading="lazy" class="motion-reduce" width="2000" height="2000">
                                    {{/if}}
                                </div>
                            </a>
                        </div>


                        <div class="bc-product-grid-variants">
                            <div class="bc-variant-item ">
                                <a href="/products/pines-on-the-coastline?variant=41382834241697" 13="">DT</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-information">
                    <div class="card-information__wrapper">
                        {{#if (eq sectionSettings.show_vendor 'true')}}
                        <span class="visually-hidden">Vendor:</span>
                        <div class="caption-with-letter-spacing light">partners-demo</div>
                        {{/if}}
                        <a href="/products/pines-on-the-coastline?pr_prod_strat=collection_fallback&amp;pr_rec_pid=7189775515809&amp;pr_ref_pid=7171946545313&amp;pr_seq=uniform" class="full-unstyled-link">
                            <span class="card-information__text h5">
                                Pines on the Coastline
                            </span>
                        </a>
                        <div id="productPrice" class=" price  price--on-sale ">
                            <dl>
                                <div class="price__regular">
                                    <dt>
                                        <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                    </dt>
                                    <dd>
                                        <span class="price-item price-item--regular">
                                            $2,079.00
                                        </span>
                                    </dd>
                                </div>
                                <div class="price__sale">
                                    <dt class="price__compare">
                                        <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                    </dt>
                                    <dd class="price__compare">
                                        <s class="price-item price-item--regular" 30="" dd="" aa="">

                                            $2,079.00

                                        </s>
                                    </dd>
                                    <dt>
                                        <span class="visually-hidden visually-hidden--inline">Sale price</span>
                                    </dt>
                                    <dd>
                                        <span class="price-item price-item--sale">$1,455.30
                                        </span>
                                    </dd>
                                    <dd class="price-item price-item--discount">
                                        (-$623.70)
                                    </dd>

                                </div>
                                <small class="unit-price caption hidden">
                                    <dt class="visually-hidden">Unit price</dt>
                                    <dd>
                                        <span></span>
                                        <span aria-hidden="true">/</span>
                                        <span class="visually-hidden">&nbsp;per&nbsp;</span>
                                        <span>
                                        </span>
                                    </dd>
                                </small>
                            </dl>
                        </div>

                    </div>

                </div>
            </div>

        </li>
        <li class="grid__item">


            <div class="card-wrapper">
                <span class="visually-hidden">Mount Fuji from Lake Yamanaka</span>
                <div class="card card--product" tabindex="-1">
                    <div class="card__inner">
                        <div {{#if (eq sectionSettings.add_image_padding 'true')}} class="card__media-full-spacer"{{/if}}>
                            <a href="/products/mount-fuji-from-lake-yamanaka?pr_prod_strat=collection_fallback&amp;pr_rec_pid=7189771583649&amp;pr_ref_pid=7171946545313&amp;pr_seq=uniform" class="full-unstyled-link">
                                <div class="media media--transparent media--adapt media--hover-effect" style="padding-bottom: 100.0%;">
                                    <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/products/Japan-2-lighter_2000x_016740c5-98ab-4766-8e0f-57576b5d2f72_165x.jpg?v=1640413165 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Japan-2-lighter_2000x_016740c5-98ab-4766-8e0f-57576b5d2f72_360x.jpg?v=1640413165 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Japan-2-lighter_2000x_016740c5-98ab-4766-8e0f-57576b5d2f72_533x.jpg?v=1640413165 533w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Japan-2-lighter_2000x_016740c5-98ab-4766-8e0f-57576b5d2f72_720x.jpg?v=1640413165 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Japan-2-lighter_2000x_016740c5-98ab-4766-8e0f-57576b5d2f72_940x.jpg?v=1640413165 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/Japan-2-lighter_2000x_016740c5-98ab-4766-8e0f-57576b5d2f72_1066x.jpg?v=1640413165 1066w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/products/Japan-2-lighter_2000x_016740c5-98ab-4766-8e0f-57576b5d2f72_360x.jpg?v=1640413165" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="Mount Fuji from Lake Yamanaka" loading="lazy" class="motion-reduce" width="2000" height="2000">
                                    {{#if (eq sectionSettings.show_secondary_image 'true')}}
                                    <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/products/square1_1296x_c8034ca9-75ef-40c5-8e43-b692d9e650c8_165x.jpg?v=1640413164 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/square1_1296x_c8034ca9-75ef-40c5-8e43-b692d9e650c8_360x.jpg?v=1640413164 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/square1_1296x_c8034ca9-75ef-40c5-8e43-b692d9e650c8_533x.jpg?v=1640413164 533w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/square1_1296x_c8034ca9-75ef-40c5-8e43-b692d9e650c8_720x.jpg?v=1640413164 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/square1_1296x_c8034ca9-75ef-40c5-8e43-b692d9e650c8_940x.jpg?v=1640413164 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/square1_1296x_c8034ca9-75ef-40c5-8e43-b692d9e650c8_1066x.jpg?v=1640413164 1066w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/products/square1_1296x_c8034ca9-75ef-40c5-8e43-b692d9e650c8_360x.jpg?v=1640413164" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="Mount Fuji from Lake Yamanaka" loading="lazy" class="motion-reduce" width="1296" height="1296">
                                    {{/if}}
                                </div>
                            </a>
                        </div>


                        <div class="bc-product-grid-variants">
                            <div class="bc-variant-item ">
                                <a href="/products/mount-fuji-from-lake-yamanaka?variant=41382830178465" 13="">DT</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-information">
                    <div class="card-information__wrapper">
                        {{#if (eq sectionSettings.show_vendor 'true')}}
                        <span class="visually-hidden">Vendor:</span>
                        <div class="caption-with-letter-spacing light">partners-demo</div>
                        {{/if }}
                        <a href="/products/mount-fuji-from-lake-yamanaka?pr_prod_strat=collection_fallback&amp;pr_rec_pid=7189771583649&amp;pr_ref_pid=7171946545313&amp;pr_seq=uniform" class="full-unstyled-link">
                            <span class="card-information__text h5">
                                Mount Fuji from Lake Yamanaka
                            </span>
                        </a>
                        <div id="productPrice" class=" price  price--on-sale ">
                            <dl>
                                <div class="price__regular">
                                    <dt>
                                        <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                    </dt>
                                    <dd>
                                        <span class="price-item price-item--regular">
                                            $1,040.00
                                        </span>
                                    </dd>
                                </div>
                                <div class="price__sale">
                                    <dt class="price__compare">
                                        <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                    </dt>
                                    <dd class="price__compare">
                                        <s class="price-item price-item--regular" 30="" dd="" aa="">

                                            $1,040.00

                                        </s>
                                    </dd>
                                    <dt>
                                        <span class="visually-hidden visually-hidden--inline">Sale price</span>
                                    </dt>
                                    <dd>
                                        <span class="price-item price-item--sale">$728.00
                                        </span>
                                    </dd>
                                    <dd class="price-item price-item--discount">
                                        (-$312.00)
                                    </dd>

                                </div>
                                <small class="unit-price caption hidden">
                                    <dt class="visually-hidden">Unit price</dt>
                                    <dd>
                                        <span></span>
                                        <span aria-hidden="true">/</span>
                                        <span class="visually-hidden">&nbsp;per&nbsp;</span>
                                        <span>
                                        </span>
                                    </dd>
                                </small>
                            </dl>
                        </div>

                    </div>

                </div>
            </div>

        </li>
        <li class="grid__item">


            <div class="card-wrapper">
                <span class="visually-hidden">Zipped Jacket</span>
                <div class="card card--product" tabindex="-1">
                    <div class="card__inner">
                        <div {{#if (eq sectionSettings.add_image_padding 'true')}} class="card__media-full-spacer"{{/if}}>
                            <a href="/products/zipped-jacket?pr_prod_strat=collection_fallback&amp;pr_rec_pid=7171946348705&amp;pr_ref_pid=7171946545313&amp;pr_seq=uniform" class="full-unstyled-link">
                                <div class="media media--transparent media--adapt media--hover-effect" style="padding-bottom: 66.7027027027027%;">
                                    <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/products/menswear-blue-zip-up-jacket_925x_d21a29c5-32b9-49d3-a74e-81a74c472f27_165x.jpg?v=1638957907 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/menswear-blue-zip-up-jacket_925x_d21a29c5-32b9-49d3-a74e-81a74c472f27_360x.jpg?v=1638957907 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/menswear-blue-zip-up-jacket_925x_d21a29c5-32b9-49d3-a74e-81a74c472f27_533x.jpg?v=1638957907 533w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/menswear-blue-zip-up-jacket_925x_d21a29c5-32b9-49d3-a74e-81a74c472f27_720x.jpg?v=1638957907 720w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/products/menswear-blue-zip-up-jacket_925x_d21a29c5-32b9-49d3-a74e-81a74c472f27_360x.jpg?v=1638957907" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="Zipped Jacket" loading="lazy" class="motion-reduce" width="925" height="617">
                                    {{#if (eq sectionSettings.show_secondary_image 'true')}}
                                    <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/products/leather-jacket-and-tea_925x_84f06687-a3a2-4ae4-8104-1f1c2e16e556_165x.jpg?v=1639493813 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/leather-jacket-and-tea_925x_84f06687-a3a2-4ae4-8104-1f1c2e16e556_360x.jpg?v=1639493813 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/leather-jacket-and-tea_925x_84f06687-a3a2-4ae4-8104-1f1c2e16e556_533x.jpg?v=1639493813 533w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/leather-jacket-and-tea_925x_84f06687-a3a2-4ae4-8104-1f1c2e16e556_720x.jpg?v=1639493813 720w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/products/leather-jacket-and-tea_925x_84f06687-a3a2-4ae4-8104-1f1c2e16e556_360x.jpg?v=1639493813" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="Zipped Jacket" loading="lazy" class="motion-reduce" width="925" height="617">
                                    {{/if}}
                                </div>
                            </a>
                        </div>

                        <div class="bc-selling-tag bc-vertical-tag">
                            <div class="bc-vertical-tag-inner">Fast Selling</div>
                        </div>
                        <div class="bc-product-grid-variants">
                            <div class="bc-variant-item ">
                                <a href="/products/zipped-jacket?variant=41347064004769" 9="">XS/B</a>
                            </div>
                            <div class="bc-variant-item ">
                                <a href="/products/zipped-jacket?variant=41347063972001" 10="">XS/B</a>
                            </div>
                            <div class="bc-variant-item bc-variant-item-sold-out">
                                <a href="/products/zipped-jacket?variant=41347064037537" 10="">XS/G</a>
                            </div>
                            <div class="bc-variant-item ">
                                <a href="/products/zipped-jacket?variant=41347064070305" 10="">XS/B</a>
                            </div>
                            <div class="bc-variant-item ">
                                <a href="/products/zipped-jacket?variant=41347064135841" 9="">XS/G</a>
                            </div>
                            <div class="bc-variant-item ">
                                <a href="/products/zipped-jacket?variant=41347064266913" 8="">S/B</a>
                            </div>
                            <div class="bc-variant-item ">
                                <a href="/products/zipped-jacket?variant=41347064234145" 9="">S/B</a>
                            </div>
                            <div class="bc-variant-item ">
                                <a href="/products/zipped-jacket?variant=41347064299681" 9="">S/G</a>
                            </div>
                            <div class="bc-variant-item ">
                                <a href="/products/zipped-jacket?variant=41347064332449" 9="">S/B</a>
                            </div>
                            <div class="bc-variant-item ">
                                <a href="/products/zipped-jacket?variant=41347064397985" 8="">S/G</a>
                            </div>
                            <div class="bc-variant-item ">
                                <a href="/products/zipped-jacket?variant=41347064529057" 8="">M/B</a>
                            </div>
                            <div class="bc-variant-item ">
                                <a href="/products/zipped-jacket?variant=41347064496289" 9="">M/B</a>
                            </div>
                            <div class="bc-variant-item ">
                                <a href="/products/zipped-jacket?variant=41347064561825" 9="">M/G</a>
                            </div>
                            <div class="bc-variant-item ">
                                <a href="/products/zipped-jacket?variant=41347064594593" 9="">M/B</a>
                            </div>
                            <div class="bc-variant-item ">
                                <a href="/products/zipped-jacket?variant=41347064660129" 8="">M/G</a>
                            </div>
                            <div class="bc-variant-item ">
                                <a href="/products/zipped-jacket?variant=41358966096033" 8="">L/B</a>
                            </div>
                            <div class="bc-variant-item ">
                                <a href="/products/zipped-jacket?variant=41358966063265" 9="">L/B</a>
                            </div>
                            <div class="bc-variant-item ">
                                <a href="/products/zipped-jacket?variant=41358966128801" 9="">L/G</a>
                            </div>
                            <div class="bc-variant-item ">
                                <a href="/products/zipped-jacket?variant=41358966161569" 9="">L/B</a>
                            </div>
                            <div class="bc-variant-item ">
                                <a href="/products/zipped-jacket?variant=41358966194337" 8="">L/G</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-information">
                    <div class="card-information__wrapper">
                        {{#if (eq sectionSettings.show_vendor 'true')}}
                        <span class="visually-hidden">Vendor:</span>
                        <div class="caption-with-letter-spacing light">partners-demo</div>
                        {{/if }}
                        <a href="/products/zipped-jacket?pr_prod_strat=collection_fallback&amp;pr_rec_pid=7171946348705&amp;pr_ref_pid=7171946545313&amp;pr_seq=uniform" class="full-unstyled-link">
                            <span class="card-information__text h5">
                                Zipped Jacket
                            </span>
                        </a>
                        <div id="productPrice" class=" price  price--on-sale ">
                            <dl>
                                <div class="price__regular">
                                    <dt>
                                        <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                    </dt>
                                    <dd>
                                        <span class="price-item price-item--regular">
                                            From $45.00
                                        </span>
                                    </dd>
                                </div>
                                <div class="price__sale">
                                    <dt class="price__compare">
                                        <span class="visually-hidden visually-hidden--inline">Regular price</span>
                                    </dt>
                                    <dd class="price__compare">
                                        <s class="price-item price-item--regular" 30="" dd="" aa="">

                                            From $45.00

                                        </s>
                                    </dd>
                                    <dt>
                                        <span class="visually-hidden visually-hidden--inline">Sale price</span>
                                    </dt>
                                    <dd>
                                        <span class="price-item price-item--sale">$31.50
                                        </span>
                                    </dd>
                                    <dd class="price-item price-item--discount">
                                        (-$13.50)
                                    </dd>

                                </div>
                                <small class="unit-price caption hidden">
                                    <dt class="visually-hidden">Unit price</dt>
                                    <dd>
                                        <span></span>
                                        <span aria-hidden="true">/</span>
                                        <span class="visually-hidden">&nbsp;per&nbsp;</span>
                                        <span>
                                        </span>
                                    </dd>
                                </small>
                            </dl>
                        </div>

                    </div>

                </div>
            </div>

        </li>




    </ul>

</product-recommendations>

<script>
  class ProductRecommendations extends HTMLElement {
    constructor() {
      super();

      const handleIntersection = (entries, observer) => {
        if (!entries[0].isIntersecting) return;
        observer.unobserve(this);

        fetch(this.dataset.url)
          .then(response => response.text())
          .then(text => {
            const html = document.createElement('div');
            html.innerHTML = text;
            const recommendations = html.querySelector('product-recommendations');
            if (recommendations && recommendations.innerHTML.trim().length) {
              this.innerHTML = recommendations.innerHTML;
            }
          })
          .catch(e => {
            console.error(e);
          });
      }

      new IntersectionObserver(handleIntersection.bind(this), {rootMargin: '0px 0px 200px 0px'}).observe(this);
    }
  }

  customElements.define('product-recommendations', ProductRecommendations);
</script>
