<header class="py__header">
    <div class="py__header-top">
        <div class="py__header-logo">
            <h1 class="py__header-title">
                <%= make.title %>
            </h1>
        </div>
        <div class="py__header-login">
            <% if(id){ %>
                <a class="py__button py__button-black py__save-button" aria-disabled="true">
                    Save Changes
                </a>
                <a href="/download" class="py__button py__button-white py__download-button" aria-disabled="false">
                    Download Theme
                </a>
            <% } else { %>
                <a href="/login" class="py__button py__button-white">
                    Login
                </a>
            <% } %>
        </div>
    </div>
</header>