<header class="py__header">
    <div class="py__header-top">
        <div class="py__header-logo">
            <a href="/">
                <h1 class="py__header-title">
                    <%= make.title %>
                </h1>
            </a>
        </div>
        <div class="py__header-login">
            <% if(user){ %>
                <% if(show){ %>
                    <a class="py__button py__button-black py__save-button" aria-disabled="true">
                        Save Changes
                    </a>
                    <a href="/download" class="py__button py__button-white py__download-button" aria-disabled="false"
                        <% if(user){ %>data-user-id="<%=user._id%>"<% } %> data-id="<%=id%>" data-name="<%= themeName ? themeName: 'make' %>">
                        Download Theme
                    </a>
                <% } %>
            <% } else { %>
                <a href="/login" class="py__button py__button-white py__login-button">
                    Login
                </a>
                <a href="/signup" class="py__button py__button-white py__signup-button">
                    Sign Up
                </a>
            <% } %>
        </div>
    </div>
</header>