<% if(settings){ %>
    <div class="py__settings-wrapper">
        <% settings.forEach(item => { %>
            <% if(item.type === 'color'){ %>
                <%- include('../components/color', {data: item}) %>
            <% } else if(item.type === 'text'){ %>
                <%- include('../components/text', {data: item}) %>
            <% } %>
        <% }) %>
    </div>
<% } %>