<div class="py__theme">
    <div class="py__theme-image_wrapper">
    </div>
    <div class="py__theme-info">
        <% if(settings[0].theme_name){ %>
            <h3 class="py__theme-title"><%= settings[0].theme_name %></h3>
        <% } %>
        <div class="py__theme-details">
            <a href="/themes/<%= id %>?global=Global%20Styles" class="py__button py__button-blue">
                Start with this theme
            </a>
        </div>
    </div>
</div>