.bc-password-page {
    position: relative;
}
.bc-password-page__container {
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
.bc-password-page__content {
    position: relative;
}
.bc-password-page__header {
    position: absolute;
    top: 54px;
    right: 52px;
    z-index: 999;
}
.bc-password-page__header-title {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: right;
    margin-top: 0;
    margin-bottom: 17px;
}
.bc-password-page__header-form {
    width: 322px;
    max-width: 100%;
    background: #FFFFFF;
    padding: 5px 7px 10px 9px;
}
.bc-password-page__header-text {
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #525252;
    max-width: 220px;
    letter-spacing: normal;
    margin-top: 13px;
}
.bc-password-page__header-text > * {
    margin: 0;
}
.bc-password-page__wrapper {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: auto;
    z-index: 1;
    transform: translateY(-50%);
}

@media screen and (max-width: 749px) {
    .bc-password-page__header {
        top: 46px;
        right: 15px;
        left: 15px;
    }
    .bc-password-page__header-title {
        text-align: center;
    }
    .bc-password-page__header-form {
        margin: 0 auto;
    }
}